In [60]:
import pandas as pd
import math as mt
import geopy as gp

In [61]:
frankfurt_df = pd.read_csv('frankfurt.csv')
frankfurt_df.head()

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570

In [62]:
berlin_df = pd.read_csv('berlin.csv')
berlin_df.head()

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611

In [63]:
def calc_30_minutes_from_trip_duration(x):
    hours_in_seconds = int(x[-18:-16]) * 3600
    minutes_in_seconds = int(x[-15:-13]) * 60
    total_seconds = hours_in_seconds + minutes_in_seconds
    minutes = total_seconds / 60
    return mt.ceil(minutes/30)

In [64]:
frankfurt_df_30_minutes = frankfurt_df['trip_duration'].apply(calc_30_minutes_from_trip_duration)
frankfurt_df_30_minutes.value_counts()

1    15039
2     2908
3      929
4      549
5      348
6      289
Name: trip_duration, dtype: int64

In [65]:
berlin_df_30_minutes = berlin_df['trip_duration'].apply(calc_30_minutes_from_trip_duration)
berlin_df_30_minutes.value_counts()

1    156825
2     34591
3     10281
4      6047
5      4170
6      3167
Name: trip_duration, dtype: int64

### Umsatz in Euro Frankfurt

In [66]:
sum(frankfurt_df_30_minutes)

29312

### Umsatz in Euro Berlin

In [67]:
sum(berlin_df_30_minutes)

320890

In [68]:
import geopy as gp

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

print(gp.distance.geodesic(coords_1, coords_2).km)

279.35290160430094

In [69]:
def calc_distance(orig_lat, orig_lng, dest_lat, dest_lng):
    coords_1 = (orig_lat, orig_lng)
    coords_2 = (dest_lat, dest_lng)
    return gp.distance.geodesic(coords_1, coords_2).km

In [70]:
result_dict = {}
result_list = []

for index, row in frankfurt_df.iterrows():
    
    dist = calc_distance(row['orig_lat'],row['orig_lng'],row['dest_lat'],row['dest_lng'])
    day = str(row['day'][-2:])
    
    if day in result_dict:
        result_dict[day] = [dist] + result_dict[day]
    else:
        result_dict[day] = [dist]

### Km pro Tag in Frankfurt

In [71]:
for key in result_dict:
    print(sum(result_dict[key]))

1622.736709055845
1223.2093111711788
1277.5857957399608
1357.6304335672546
2947.4279810236717
851.7711164720868
1504.7519251024078
1048.217242155942
1499.3268494589388
855.0337845184328
1163.0749027938443
1275.5881753849635
1056.6599048589585
1068.1696978675473
1045.6287328181006
1139.0224970955899
1038.2231064645237
1135.174642780684
1016.3918951895047
824.0326168339111
1635.8579958050987
1562.5210931919846
1166.4415616292888
814.0802815370902
1563.4122579945138
1443.0707561204335
1078.6261308216995
780.4881930302397
850.1321687203854
1531.41953018093
920.882536801014

### Km pro Tag in Berlin

In [75]:
result_dict = {}
result_list = []

for index, row in berlin_df.iterrows():
    
    dist = calc_distance(row['orig_lat'],row['orig_lng'],row['dest_lat'],row['dest_lng'])
    day = str(row['day'][-2:])
    
    if day in result_dict:
        result_dict[day] = [dist] + result_dict[day]
    else:
        result_dict[day] = [dist]

In [76]:
for key in result_dict:
    print(sum(result_dict[key]))

13495.80165255314
26677.414330439762
18581.925850686028
19984.80729883147
15592.196876596774
15108.753594833655
15413.119265966085
16916.98376838798
22734.951645910296
22071.231724630885
24543.120112983837
13579.209769615452
18568.68121691525
24888.640925654352
15717.87512048079
13059.204213259423
12994.145649870774
14356.6629993714
24192.849483395607
16359.684994006539
29163.599223780355
23132.777068294457
14770.705877509636
18066.89994698446
16600.549482899103
18860.21608508632
20002.047800358818
18984.00184985584
17533.812412879026
7317.911125507183
15150.820439149647