In [126]:
import pandas as pd
import datetime as dt
from datetime import date
import calendar
import geopy.distance as gpd
from math import radians, cos, sin, asin, sqrt

In [127]:
df = pd.read_csv(r"D:\OneDrive - Universität zu Köln\Uni\AA\Project\aa_project\Data\berlin.csv")

In [128]:
df.day = pd.to_datetime(df.day)

In [129]:
for ind, row in df.iterrows():
    df.loc[ind, "weekday_str"] = calendar.day_name[row['day'].weekday()]

df["weekday"] = [d.weekday()+1 for d in df['day']]

In [130]:
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

  # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [131]:
# df["distance"] = ""

for ind, row in df.iterrows():
    df.loc[ind, "distance"] = haversine(row['orig_lng'], row['orig_lat'], row['dest_lng'], row['dest_lat'])

In [132]:
df.distance = df.distance.astype(float).round(decimals=3)

In [133]:
df.dropna(axis=0)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,weekday_str,weekday,distance
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043,Saturday,6,4.141
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686,Saturday,6,4.142
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997,Saturday,6,3.894
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285,Monday,1,1.855
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611,Tuesday,2,1.009
...,...,...,...,...,...,...,...,...,...,...,...,...
215076,2019-05-13,09:57:00,30186,berlin,0 days 00:13:00.000000000,52.534774,13.346862,52.534924,13.347056,Monday,1,0.021
215077,2019-04-01,16:20:00,33140,berlin,0 days 00:50:00.000000000,52.507288,13.333964,52.505247,13.327885,Monday,1,0.470
215078,2019-05-10,10:59:00,38671,berlin,0 days 00:05:00.000000000,50.813178,8.775800,50.814100,8.770868,Friday,5,0.361
215079,2019-06-18,19:21:00,99851,berlin,0 days 00:03:00.000000000,52.494436,13.379319,52.497192,13.380079,Tuesday,2,0.311
215080,2019-06-19,15:43:00,99909,berlin,0 days 00:04:00.000000000,52.535013,13.347290,52.534947,13.347106,Wednesday,3,0.015

In [134]:
df['year'] = [d.year for d in df['day']]
df['month'] = [d.month for d in df['day']]
df['date'] = [d.day for d in df['day']]

In [135]:
df['hour'] = [d[:2] for d in df['time']]
df.hour = df.hour.astype(int)
df['min'] = [d[3:5] for d in df['time']]
df["min"] = df["min"].astype(int)

In [136]:
df.trip_duration = [d[6:12] for d in df.trip_duration]

In [137]:
def time_convert(time):
    hour = int(time[:3])
    min = int(time[4:])
    return (min + hour*60)

In [138]:
df.trip_duration = df.trip_duration.apply(time_convert)

In [139]:
for ind, row in df.iterrows():
    hour = int(row.time[:2])
    minute = int(row.time[3:5])
    day = row.day + dt.timedelta(hours = hour, minutes= minute)
    df.at[ind, "day"] = day

df.drop("time", axis=1, inplace=True)

In [140]:
df = df[[
    'day',
    'year',
    'month',
    'date',
    'hour',
    'min',
    'weekday',
    'weekday_str',
    'b_number',
    'city',
    'trip_duration',
    'distance',
    'orig_lat',
    'orig_lng',
    'dest_lat',
    'dest_lng']]

In [141]:
df.to_csv(r"D:\OneDrive - Universität zu Köln\Uni\AA\Project\aa_project\Data\berlin_final.csv")