# Next Bike - Analytics and Applications – Team Assignment

### Basic Desciption

In the following notebooks, the next bike for the cities of Berlin and Frankfurt (Main) are analyzed. For this purpose, the notebooks are divided into X Parts and the respective intermediate results are saved so that they can also be executed independently of each other. 

    Part 1: Data Preparation
    Part 2: Descriptive Analytics
    Part 3: Cluster Analytics
    Part 4: Predictive Analytics

For running the different notebooks, following python libraries ould be installed on your computer, since these are used in the context of this elaboration: 
1. Pandas
2. ...
3. ...

# Part 1: Data Preparation
In this elaboration, the next bike data of the cities Berlin and Frankfurt (Main) from 02/01/2019 to 06/30/2019 are referred to. For this purpose, the data in Part 1 are prepared so that they are useful for use in the other parts.

In [1]:
import pandas as pd
import datetime as dt
from datetime import date
import calendar
import geopy.distance as gpd
from math import radians, cos, sin, asin, sqrt

# 1. Cleaning the ride sets

In [43]:
# importing the data sets for the cities berlin and frankfurt
df_b = pd.read_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\raw\berlin.csv") # berlin
df_f = pd.read_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\raw\frankfurt.csv") # frankfurt

## 1.1 Looking at the given data

### Berlin:

In [3]:
df_b.head(5)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611

In [4]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215081 entries, 0 to 215080
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   day            215081 non-null  object
 1   time           215081 non-null  object
 2   b_number       215081 non-null  int64
 3   city           215081 non-null  object
 4   trip_duration  215081 non-null  object
 5   orig_lat       215081 non-null  float64
 6   orig_lng       215081 non-null  float64
 7   dest_lat       215081 non-null  float64
 8   dest_lng       215081 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 14.8+ MB

The Berlin data set includes next bike rental data for the period 02/01/2019 to 06/30/2019. It also includes start and destination of each trip as well as duration. 
The data set has 215.081 entries.

### Frankfurt (Main):

In [5]:
df_f.head(5)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570

In [6]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20062 entries, 0 to 20061
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   day            20062 non-null  object
 1   time           20062 non-null  object
 2   b_number       20062 non-null  int64
 3   city           20062 non-null  object
 4   trip_duration  20062 non-null  object
 5   orig_lat       20062 non-null  float64
 6   orig_lng       20062 non-null  float64
 7   dest_lat       20062 non-null  float64
 8   dest_lng       20062 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.4+ MB

The Frankfurt (Main) data set includes next bike rental data for the period 02/01/2019 to 06/30/2019. It also includes start and destination of each trip as well as duration. 
The data set has 20.062 entries what makes the Berlin data 10 times larger than this.

## 1.2 Basic changes

In [7]:
# change data type to datetime
df_b.day = pd.to_datetime(df_b.day)
df_f.day = pd.to_datetime(df_f.day)

### Berlin:

In [8]:
df_b.dropna(axis=0)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611
...,...,...,...,...,...,...,...,...,...
215076,2019-05-13,09:57:00,30186,berlin,0 days 00:13:00.000000000,52.534774,13.346862,52.534924,13.347056
215077,2019-04-01,16:20:00,33140,berlin,0 days 00:50:00.000000000,52.507288,13.333964,52.505247,13.327885
215078,2019-05-10,10:59:00,38671,berlin,0 days 00:05:00.000000000,50.813178,8.775800,50.814100,8.770868
215079,2019-06-18,19:21:00,99851,berlin,0 days 00:03:00.000000000,52.494436,13.379319,52.497192,13.380079
215080,2019-06-19,15:43:00,99909,berlin,0 days 00:04:00.000000000,52.535013,13.347290,52.534947,13.347106

### Frankfurt (Main):

In [9]:
df_f.dropna(axis=0)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570
...,...,...,...,...,...,...,...,...,...
20057,2019-05-07,09:36:00,91229,frankfurt,0 days 02:12:00.000000000,50.585947,8.683895,50.583418,8.673678
20058,2019-05-07,12:00:00,91229,frankfurt,0 days 00:11:00.000000000,50.583418,8.673678,50.573378,8.700063
20059,2019-05-07,14:04:00,91229,frankfurt,0 days 00:16:00.000000000,50.572982,8.700078,50.580484,8.664531
20060,2019-05-07,19:54:00,91229,frankfurt,0 days 00:10:00.000000000,50.580916,8.664705,50.582658,8.680114
20061,2019-05-08,04:17:00,91229,frankfurt,0 days 00:08:00.000000000,50.583764,8.680127,50.575929,8.693904

## 1.3 Adding weekdays
Here we add the weekday to each rental to work with this in the following parts of this examination.

### Berlin:

In [10]:
for ind, row in df_b.iterrows():
    df_b.loc[ind, "weekday_str"] = calendar.day_name[row['day'].weekday()]

df_b["weekday"] = [d.weekday()+1 for d in df_b['day']]

### Frankfurt (Main):

In [11]:
for ind, row in df_f.iterrows():
    df_f.loc[ind, "weekday_str"] = calendar.day_name[row['day'].weekday()]

df_f["weekday"] = [d.weekday()+1 for d in df_f['day']]

## 1.4 Adding the distance of start and destination

In [12]:
# Calculating the linear distance between start and destination
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

  # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371 # Radius of earth in kilometers
    
    return c * r

### Berlin:

In [13]:
for ind, row in df_b.iterrows():
    df_b.loc[ind, "distance"] = haversine(row['orig_lng'], row['orig_lat'], row['dest_lng'], row['dest_lat'])

In [14]:
df_b.distance = df_b.distance.astype(float).round(decimals=3)

### Frankfurt (Main):

In [15]:
for ind, row in df_f.iterrows():
    df_f.loc[ind, "distance"] = haversine(row['orig_lng'], row['orig_lat'], row['dest_lng'], row['dest_lat'])

In [16]:
df_f.distance = df_f.distance.astype(float).round(decimals=3)

## 1.5 Converting the trip duration data type 
Converting of the data type will make it more eaasy to work with.

In [17]:
def time_convert(time):
    hour = int(time[:3])
    min = int(time[4:])
    return (min + hour*60)

### Berlin:

In [18]:
df_b['year'] = [d.year for d in df_b['day']]
df_b['month'] = [d.month for d in df_b['day']]
df_b['date'] = [d.day for d in df_b['day']]

In [19]:
df_b['hour'] = [d[:2] for d in df_b['time']]
df_b.hour = df_b.hour.astype(int)
df_b['min'] = [d[3:5] for d in df_b['time']]
df_b["min"] = df_b["min"].astype(int)

In [20]:
df_b.trip_duration = [d[6:12] for d in df_b.trip_duration]

In [21]:
df_b.trip_duration = df_b.trip_duration.apply(time_convert)

In [22]:
for ind, row in df_b.iterrows():
    hour = int(row.time[:2])
    minute = int(row.time[3:5])
    day = row.day + dt.timedelta(hours = hour, minutes= minute)
    df_b.at[ind, "day"] = day

df_b.drop("time", axis=1, inplace=True)

### Frankfurt (Main):

In [23]:
df_f['year'] = [d.year for d in df_f['day']]
df_f['month'] = [d.month for d in df_f['day']]
df_f['date'] = [d.day for d in df_f['day']]

In [24]:
df_f['hour'] = [d[:2] for d in df_f['time']]
df_f.hour = df_f.hour.astype(int)
df_f['min'] = [d[3:5] for d in df_f['time']]
df_f["min"] = df_f["min"].astype(int)

In [25]:
df_f.trip_duration = [d[6:12] for d in df_f.trip_duration]

In [26]:
df_f.trip_duration = df_f.trip_duration.apply(time_convert)

In [27]:
for ind, row in df_f.iterrows():
    hour = int(row.time[:2])
    minute = int(row.time[3:5])
    day = row.day + dt.timedelta(hours = hour, minutes= minute)
    df_f.at[ind, "day"] = day

df_f.drop("time", axis=1, inplace=True)

## 1.6 Showing results of data preparation

### Berlin:

In [28]:
df_b = df_b[[
    'day',
    'year',
    'month',
    'date',
    'hour',
    'min',
    'weekday',
    'weekday_str',
    'b_number',
    'city',
    'trip_duration',
    'distance',
    'orig_lat',
    'orig_lng',
    'dest_lat',
    'dest_lng']]

In [29]:
df_b.head(5)

,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-16 14:53:00,2019,2,16,14,53,6,Saturday,13001,berlin,21,4.141,52.505076,13.414721,52.534591,13.452043
1,2019-02-16 17:22:00,2019,2,16,17,22,6,Saturday,13001,berlin,27,4.142,52.534591,13.452043,52.504621,13.415686
2,2019-02-16 23:29:00,2019,2,16,23,29,6,Saturday,13001,berlin,22,3.894,52.504621,13.415686,52.528998,13.456997
3,2019-02-18 17:49:00,2019,2,18,17,49,1,Monday,13001,berlin,15,1.855,52.528998,13.456997,52.536231,13.432285
4,2019-02-19 13:08:00,2019,2,19,13,8,2,Tuesday,13001,berlin,9,1.009,52.536231,13.432285,52.543311,13.441611

### Frankfurt (Main):

In [30]:
df_f = df_f[[
    'day',
    'year',
    'month',
    'date',
    'hour',
    'min',
    'weekday',
    'weekday_str',
    'b_number',
    'city',
    'trip_duration',
    'distance',
    'orig_lat',
    'orig_lng',
    'dest_lat',
    'dest_lng']]

In [31]:
df_f.head(5)

,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-06-25 21:51:00,2019,6,25,21,51,2,Tuesday,11420,frankfurt,7,0.715,49.991072,8.412515,49.984942,8.409474
1,2019-06-26 06:33:00,2019,6,26,6,33,3,Wednesday,11420,frankfurt,14,1.087,49.984942,8.409474,49.985673,8.424641
2,2019-06-27 13:20:00,2019,6,27,13,20,4,Thursday,11420,frankfurt,7,0.010,49.985613,8.424448,49.985538,8.424533
3,2019-06-27 13:30:00,2019,6,27,13,30,4,Thursday,11420,frankfurt,4,0.018,49.985528,8.424512,49.985679,8.424603
4,2019-06-27 13:59:00,2019,6,27,13,59,4,Thursday,11420,frankfurt,9,0.005,49.985679,8.424603,49.985636,8.424570

Saving the data sets:

In [32]:
# final data sets
df_b.to_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\berlin_final.csv")
df_f.to_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\frankfurt_final.csv")

# 2. Cleaning the weather data

The imported weather data are from the CDC weather database. We imported the following data for berlin and frankfurt from the 02/01/2019 to the 06/30/2019:
1. windspeed
2. precipation
3. temperature

The goal for chapter 2 is to get the cleaned weather data for each city.

In [33]:
df_t = pd.read_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\raw\cdc_download_2020-12-14_23_10\data\data_TT_TU_MN009.csv") # temperature
df_p = pd.read_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\raw\cdc_download_2020-12-14_23_10\data\data_R1_MN008.csv")# precipation
df_w = pd.read_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\raw\cdc_download_2020-12-14_23_10\data\data_FF_MN008.csv") # wind speed

In [34]:
result = pd.merge(df_t, df_p, how="outer", on =["Zeitstempel","SDO_ID"])

In [35]:
result = pd.merge(result, df_w, how="outer", on =["Zeitstempel","SDO_ID"])

## 2.1 Droping not necessary data:

In [36]:
result.drop(['Produkt_Code_x', 'Qualitaet_Byte_x',
       'Qualitaet_Niveau_x', 'Produkt_Code_y', 'Qualitaet_Byte_y',
       'Qualitaet_Niveau_y', 'Produkt_Code', 'Qualitaet_Byte', 'Qualitaet_Niveau'], axis=1, inplace=True)

In [37]:
result.rename(columns={"SDO_ID": "sid",
                       "Zeitstempel": "datetime",
                       "Wert_x": "temperature",
                       "Wert_y": "precipitation",
                       "Wert": "wind_speed",}, inplace=True)

In [38]:
result.temperature.fillna(method="ffill", inplace=True)
result.precipitation.fillna(value=0, inplace=True)
result.wind_speed.fillna(value=result.wind_speed.median(), inplace=True)

In [39]:
def get_date(time):
    return pd.Timestamp(int(str(time)[0:4]), int(str(time)[4:6]), int(str(time)[6:8]), int(str(time)[8:10]))

In [40]:
result["datetime"] = result.datetime.apply(get_date)

## 2.2 Saving the data sets:

In [41]:
df_f = result[result.sid == 1420]
df_f.to_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\frankfurt_weather.csv")

df_b = result[result.sid == 433]
df_b.to_csv(r"C:\Users\geibe\Desktop\aa_project-main\Abgabe\Data\berlin_weather.csv")