# Introduction:
Intro text
1. Ausgangssituaion
2. Was werden wir alles machen?
3. Inhaltsverzeichnis

# 0. General Settings

Import of ....

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import datetime 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_rows", 100)

# 1. Importing Next Bike Data for Frankfurt and Berlin

In the following section we will look at the frankfurt and berlin datasets for next bike usage data. This will include looking at each datasets and cleaning them.

In [3]:
berlin_set = pd.read_csv("berlin_final.csv")
frankfurt_set = pd.read_csv("frankfurt_final.csv")
frankfurt_weather = pd.read_csv("frankfurt_weather_final.csv")
berlin_weather = pd.read_csv("berlin_weather_final.csv")

## 1.1 Frankfurt Set

In [4]:
frankfurt_set.head(100)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,0,2019-06-25 21:51:00,2019,6,25,21,51,2,Tuesday,11420,frankfurt,7,0.715,49.991072,8.412515,49.984942,8.409474
1,1,2019-06-26 06:33:00,2019,6,26,6,33,3,Wednesday,11420,frankfurt,14,1.087,49.984942,8.409474,49.985673,8.424641
2,2,2019-06-27 13:20:00,2019,6,27,13,20,4,Thursday,11420,frankfurt,7,0.010,49.985613,8.424448,49.985538,8.424533
3,3,2019-06-27 13:30:00,2019,6,27,13,30,4,Thursday,11420,frankfurt,4,0.018,49.985528,8.424512,49.985679,8.424603
4,4,2019-06-27 13:59:00,2019,6,27,13,59,4,Thursday,11420,frankfurt,9,0.005,49.985679,8.424603,49.985636,8.424570
5,5,2019-06-27 14:49:00,2019,6,27,14,49,4,Thursday,11420,frankfurt,21,1.053,49.985661,8.424644,49.991004,8.412477
6,6,2019-06-28 06:08:00,2019,6,28,6,8,5,Friday,11420,frankfurt,12,1.030,49.990980,8.412610,49.985600,8.424339
7,7,2019-06-28 10:08:00,2019,6,28,10,8,5,Friday,11420,frankfurt,19,1.050,49.985574,8.424403,49.991130,8.412532
8,8,2019-05-30 15:42:00,2019,5,30,15,42,4,Thursday,11451,frankfurt,100,0.072,50.101748,8.553437,50.101711,8.554450
9,9,2019-05-31 02:22:00,2019,5,31,2,22,5,Friday,11451,frankfurt,10,1.483,50.101711,8.554450,50.114979,8.556589
10,10,2019-06-26 18:54:00,2019,6,26,18,54,3,Wednesday,12575,frankfurt,16,0.004,49.995381,8.411746,49.995411,8.411767
11,11,2019-06-26 19:59:00,2019,6,26,19,59,3,Wednesday,12575,frankfurt,18,1.562,49.995421,8.411744,49.983808,8.424030
12,12,2019-06-27 11:08:00,2019,6,27,11,8,4,Thursday,12575,frankfurt,96,1.242,49.983904,8.423997,49.992375,8.412673
13,13,2019-06-27 13:44:00,2019,6,27,13,44,4,Thursday,12575,frankfurt,3,0.010,49.992160,8.412645,49.992249,8.412662
14,14,2019-06-27 18:46:00,2019,6,27,18,46,4,Thursday,12575,frankfurt,3,0.032,49.992253,8.412685,49.992198,8.412242
15,15,2019-06-27 20:19:00,2019,6,27,20,19,4,Thursday,12575,frankfurt,12,1.250,49.992377,8.412659,49.983907,8.424158
16,16,2019-06-28 02:11:00,2019,6,28,2,11,5,Friday,12575,frankfurt,4,0.034,49.983907,8.424158,49.983604,8.424113
17,17,2019-06-28 13:01:00,2019,6,28,13,1,5,Friday,12575,frankfurt,10,0.898,49.983604,8.424113,49.977173,8.431716
18,18,2019-06-28 13:25:00,2019,6,28,13,25,5,Friday,12575,frankfurt,15,0.923,49.977173,8.431716,49.983907,8.424168
19,19,2019-06-28 15:06:00,2019,6,28,15,6,5,Friday,12575,frankfurt,8,0.835,49.983907,8.424168,49.982007,8.435466
20,20,2019-06-28 15:40:00,2019,6,28,15,40,5,Friday,12575,frankfurt,10,0.013,49.983864,8.423970,49.983891,8.424141
21,21,2019-06-28 18:19:00,2019,6,28,18,19,5,Friday,12575,frankfurt,12,1.153,49.983891,8.424141,49.991108,8.412559
22,22,2019-06-28 18:42:00,2019,6,28,18,42,5,Friday,12575,frankfurt,19,0.716,49.991108,8.412559,49.985196,8.408602
23,23,2019-06-29 04:53:00,2019,6,29,4,53,6,Saturday,12575,frankfurt,8,0.022,49.985196,8.408602,49.985036,8.408791
24,24,2019-06-29 08:19:00,2019,6,29,8,19,6,Saturday,12575,frankfurt,25,1.121,49.985036,8.408791,49.985598,8.424443
25,25,2019-06-29 12:21:00,2019,6,29,12,21,6,Saturday,12575,frankfurt,14,0.612,49.985598,8.424443,49.990150,8.419634
26,26,2019-06-30 15:12:00,2019,6,30,15,12,7,Sunday,12575,frankfurt,28,1.139,49.991038,8.412558,49.983907,8.423996
27,27,2019-02-04 19:35:00,2019,2,4,19,35,1,Monday,38001,frankfurt,7,1.052,50.131105,8.645661,50.123839,8.636220
28,28,2019-02-26 20:03:00,2019,2,26,20,3,2,Tuesday,38001,frankfurt,7,1.056,50.114837,8.672574,50.124155,8.669688
29,29,2019-03-01 15:20:00,2019,3,1,15,20,5,Friday,38001,frankfurt,7,1.056,50.124155,8.669688,50.114837,8.672574
30,30,2019-03-01 17:42:00,2019,3,1,17,42,5,Friday,38001,frankfurt,22,1.056,50.114837,8.672574,50.124155,8.669688
31,31,2019-03-01 19:52:00,2019,3,1,19,52,5,Friday,38001,frankfurt,10,0.987,50.124155,8.669688,50.115329,8.671153
32,32,2019-03-03 16:30:00,2019,3,3,16,30,7,Sunday,38001,frankfurt,18,1.699,50.115329,8.671153,50.100153,8.668331
33,33,2019-03-21 20:18:00,2019,3,21,20,18,4,Thursday,38001,frankfurt,32,1.623,50.100153,8.668331,50.104410,8.690094
34,34,2019-03-26 11:09:00,2019,3,26,11,9,2,Tuesday,38001,frankfurt,27,3.548,50.104410,8.690094,50.086095,8.649362
35,35,2019-03-31 15:04:00,2019,3,31,15,4,7,Sunday,38001,frankfurt,31,2.959,50.086095,8.649362,50.105345,8.678008
36,36,2019-04-02 05:05:00,2019,4,2,5,5,2,Tuesday,38001,frankfurt,24,3.660,50.105345,8.678008,50.117065,8.630050
37,37,2019-05-25 17:55:00,2019,5,25,17,55,6,Saturday,38001,frankfurt,36,6.290,50.162989,8.636498,50.113562,8.679425
38,38,2019-05-25 20:51:00,2019,5,25,20,51,6,Saturday,38001,frankfurt,16,0.184,50.113562,8.679425,50.112732,8.681656
39,39,2019-05-26 15:01:00,2019,5,26,15,1,7,Sunday,38001,frankfurt,4,0.067,50.112732,8.681656,50.113151,8.682325
40,40,2019-05-29 13:32:00,2019,5,29,13,32,3,Wednesday,38001,frankfurt,26,0.265,50.113151,8.682325,50.110792,8.681833
41,41,2019-06-09 13:10:00,2019,6,9,13,10,7,Sunday,38001,frankfurt,150,0.856,50.104599,8.688963,50.110792,8.681833
42,42,2019-06-09 16:01:00,2019,6,9,16,1,7,Sunday,38001,frankfurt,73,0.347,50.110792,8.681833,50.113124,8.678609
43,43,2019-06-09 19:53:00,2019,6,9,19,53,7,Sunday,38001,frankfurt,20,0.288,50.113124,8.678609,50.115450,8.676826
44,44,2019-06-09 22:34:00,2019,6,9,22,34,7,Sunday,38001,frankfurt,27,1.258,50.115450,8.676826,50.108247,8.663221
45,45,2019-06-13 05:38:00,2019,6,13,5,38,4,Thursday,38001,frankfurt,8,1.164,50.108247,8.663221,50.114352,8.649958
46,46,2019-06-13 15:45:00,2019,6,13,15,45,4,Thursday,38001,frankfurt,16,2.344,50.114352,8.649958,50.109113,8.681801
47,47,2019-06-13 16:33:00,2019,6,13,16,33,4,Thursday,38001,frankfurt,48,3.317,50.109113,8.681801,50.137439,8.667231
48,48,2019-06-14 07:22:00,2019,6,14,7,22,5,Friday,38001,frankfurt,36,1.703,50.137439,8.667231,50.123192,8.658460
49,49,2019-06-15 16:39:00,2019,6,15,16,39,6,Saturday,38001,frankfurt,11,1.122,50.123192,8.658460,50.117540,8.645430
50,50,2019-06-15 20:28:00,2019,6,15,20,28,6,Saturday,38001,frankfurt,5,0.442,50.117540,8.645430,50.120031,8.650269
51,51,2019-06-15 22:28:00,2019,6,15,22,28,6,Saturday,38001,frankfurt,6,0.442,50.120031,8.650269,50.117540,8.645430
52,52,2019-06-16 16:12:00,2019,6,16,16,12,7,Sunday,38001,frankfurt,59,0.421,50.117540,8.645430,50.119147,8.640082
53,53,2019-06-17 05:34:00,2019,6,17,5,34,1,Monday,38001,frankfurt,29,3.919,50.119147,8.640082,50.130390,8.692180
54,54,2019-06-17 09:12:00,2019,6,17,9,12,1,Monday,38001,frankfurt,13,1.742,50.130390,8.692180,50.115009,8.687546
55,55,2019-06-17 10:51:00,2019,6,17,10,51,1,Monday,38001,frankfurt,5,0.440,50.115009,8.687546,50.118867,8.688894
56,56,2019-06-17 12:16:00,2019,6,17,12,16,1,Monday,38001,frankfurt,6,0.719,50.118867,8.688894,50.117486,8.679049
57,57,2019-03-05 12:54:00,2019,3,5,12,54,2,Tuesday,38002,frankfurt,8,0.861,50.091182,8.686082,50.098870,8.687503
58,58,2019-03-20 16:12:00,2019,3,20,16,12,3,Wednesday,38002,frankfurt,8,1.001,50.123711,8.671018,50.114854,8.673494
59,59,2019-03-20 18:51:00,2019,3,20,18,51,3,Wednesday,38002,frankfurt,12,2.392,50.114854,8.673494,50.104957,8.643708
60,60,2019-03-20 19:27:00,2019,3,20,19,27,3,Wednesday,38002,frankfurt,11,1.607,50.104957,8.643708,50.119412,8.643601
61,61,2019-03-23 13:16:00,2019,3,23,13,16,6,Saturday,38002,frankfurt,42,3.042,50.119412,8.643601,50.122002,8.686071
62,62,2019-03-24 12:03:00,2019,3,24,12,3,7,Sunday,38002,frankfurt,90,0.486,50.122002,8.686071,50.123068,8.692680
63,63,2019-03-25 07:12:00,2019,3,25,7,12,1,Monday,38002,frankfurt,16,2.160,50.123068,8.692680,50.112611,8.667151
64,64,2019-03-25 20:11:00,2019,3,25,20,11,1,Monday,38002,frankfurt,13,2.062,50.112611,8.667151,50.119147,8.640082
65,65,2019-03-26 08:22:00,2019,3,26,8,22,2,Tuesday,38002,frankfurt,7,0.883,50.119147,8.640082,50.114352,8.649958
66,66,2019-03-27 18:21:00,2019,3,27,18,21,3,Wednesday,38002,frankfurt,30,3.325,50.114352,8.649958,50.120324,8.695657
67,67,2019-03-28 06:38:00,2019,3,28,6,38,4,Thursday,38002,frankfurt,9,1.585,50.120324,8.695657,50.112969,8.676619
68,68,2019-03-30 10:36:00,2019,3,30,10,36,6,Saturday,38002,frankfurt,49,1.070,50.112969,8.676619,50.107599,8.664168
69,69,2019-03-30 15:49:00,2019,3,30,15,49,6,Saturday,38002,frankfurt,26,0.424,50.107599,8.664168,50.105105,8.668662
70,70,2019-03-30 16:16:00,2019,3,30,16,16,6,Saturday,38002,frankfurt,21,1.038,50.105105,8.668662,50.109113,8.681801
71,71,2019-03-30 17:55:00,2019,3,30,17,55,6,Saturday,38002,frankfurt,25,3.634,50.109113,8.681801,50.141761,8.684006
72,72,2019-04-02 18:28:00,2019,4,2,18,28,2,Tuesday,38002,frankfurt,9,1.392,50.141761,8.684006,50.130390,8.692180
73,73,2019-04-04 15:20:00,2019,4,4,15,20,4,Thursday,38002,frankfurt,4,0.165,50.130390,8.692180,50.128915,8.692439
74,74,2019-04-06 11:23:00,2019,4,6,11,23,6,Saturday,38002,frankfurt,23,2.014,50.128915,8.692439,50.113124,8.678609
75,75,2019-04-06 13:21:00,2019,4,6,13,21,6,Saturday,38002,frankfurt,18,0.822,50.113124,8.678609,50.108580,8.669511
76,76,2019-04-06 20:13:00,2019,4,6,20,13,6,Saturday,38002,frankfurt,19,3.029,50.108580,8.669511,50.116980,8.629106
77,77,2019-04-11 12:34:00,2019,4,11,12,34,4,Thursday,38002,frankfurt,6,0.146,50.116980,8.629106,50.116067,8.630568
78,78,2019-04-11 12:41:00,2019,4,11,12,41,4,Thursday,38002,frankfurt,102,0.146,50.116067,8.630568,50.116980,8.629106
79,79,2019-04-16 15:43:00,2019,4,16,15,43,2,Tuesday,38002,frankfurt,43,3.896,50.116980,8.629106,50.110323,8.682753
80,80,2019-04-16 17:10:00,2019,4,16,17,10,2,Tuesday,38002,frankfurt,59,3.896,50.110323,8.682753,50.116980,8.629106
81,81,2019-04-17 16:33:00,2019,4,17,16,33,3,Wednesday,38002,frankfurt,9,0.819,50.116980,8.629106,50.119147,8.640082
82,82,2019-04-18 06:13:00,2019,4,18,6,13,4,Thursday,38002,frankfurt,7,0.819,50.119147,8.640082,50.116980,8.629106
83,83,2019-04-22 11:58:00,2019,4,22,11,58,1,Monday,38002,frankfurt,17,0.802,50.109113,8.681801,50.101915,8.681114
84,84,2019-04-24 12:45:00,2019,4,24,12,45,3,Wednesday,38002,frankfurt,16,1.756,50.101915,8.681114,50.107246,8.704291
85,85,2019-04-26 15:13:00,2019,4,26,15,13,5,Friday,38002,frankfurt,26,1.522,50.107547,8.703323,50.120324,8.695657
86,86,2019-04-27 01:24:00,2019,4,27,1,24,6,Saturday,38002,frankfurt,8,1.140,50.120324,8.695657,50.126528,8.708392
87,87,2019-04-27 07:57:00,2019,4,27,7,57,6,Saturday,38002,frankfurt,40,2.459,50.126528,8.708392,50.113334,8.680711
88,88,2019-04-30 16:00:00,2019,4,30,16,0,2,Tuesday,38002,frankfurt,70,0.220,50.113334,8.680711,50.111422,8.681495
89,89,2019-05-07 17:51:00,2019,5,7,17,51,2,Tuesday,38002,frankfurt,27,1.617,50.113124,8.678609,50.121242,8.697432
90,90,2019-06-01 12:01:00,2019,6,1,12,1,6,Saturday,38002,frankfurt,28,3.495,50.111948,8.654126,50.118535,8.702047
91,91,2019-06-02 09:27:00,2019,6,2,9,27,7,Sunday,38002,frankfurt,78,3.209,50.111948,8.654126,50.115535,8.698785
92,92,2019-06-02 18:10:00,2019,6,2,18,10,7,Sunday,38002,frankfurt,58,4.060,50.114335,8.618190,50.109030,8.674521
93,93,2019-06-03 21:20:00,2019,6,3,21,20,1,Monday,38002,frankfurt,17,2.725,50.109030,8.674521,50.133475,8.671891
94,94,2019-06-04 06:49:00,2019,6,4,6,49,2,Tuesday,38002,frankfurt,14,2.718,50.133418,8.671868,50.109030,8.674521
95,95,2019-06-04 17:46:00,2019,6,4,17,46,2,Tuesday,38002,frankfurt,7,0.755,50.109030,8.674521,50.107599,8.664168
96,96,2019-06-05 07:18:00,2019,6,5,7,18,3,Wednesday,38002,frankfurt,14,2.218,50.107599,8.664168,50.127054,8.671061
97,97,2019-06-05 11:50:00,2019,6,5,11,50,3,Wednesday,38002,frankfurt,19,2.218,50.127054,8.671061,50.107599,8.664168
98,98,2019-06-07 12:24:00,2019,6,7,12,24,5,Friday,38002,frankfurt,24,3.085,50.131105,8.645661,50.113124,8.678609
99,99,2019-06-07 23:47:00,2019,6,7,23,47,5,Friday,38002,frankfurt,14,1.532,50.113124,8.678609,50.101918,8.691108

### 1.1.1 Adding Weekdays for Frankfurt

** The split method for timestamp will not working later, if use this function first for weekdays. maybe use it later

from datetime import date
import calendar
frankfurt_set.day = pd.to_datetime(frankfurt_set.day)

for ind, row in frankfurt_set.iterrows():
    frankfurt_set.loc[ind, "Weekday"] = calendar.day_name[row['day'].weekday()]

### 1.1.2 Calculating the distance between the locations for Frankfurt

from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

  # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

for ind, row in frankfurt_set.iterrows():
    frankfurt_set.loc[ind, "distance"] = haversine(row['orig_lng'], row['orig_lat'], row['dest_lng'], row['dest_lat'])

### 1.1.3 Show Dataset of Frankfurt

In [5]:
print(frankfurt_set)

       Unnamed: 0                  day  year  month  date  hour  min  weekday  \
0               0  2019-06-25 21:51:00  2019      6    25    21   51        2
1               1  2019-06-26 06:33:00  2019      6    26     6   33        3
2               2  2019-06-27 13:20:00  2019      6    27    13   20        4
3               3  2019-06-27 13:30:00  2019      6    27    13   30        4
4               4  2019-06-27 13:59:00  2019      6    27    13   59        4
...           ...                  ...   ...    ...   ...   ...  ...      ...
20057       20057  2019-05-07 09:36:00  2019      5     7     9   36        2
20058       20058  2019-05-07 12:00:00  2019      5     7    12    0        2
20059       20059  2019-05-07 14:04:00  2019      5     7    14    4        2
20060       20060  2019-05-07 19:54:00  2019      5     7    19   54        2
20061       20061  2019-05-08 04:17:00  2019      5     8     4   17        3

      weekday_str  b_number       city  trip_duration  distance   orig_lat  \
0         Tuesday     11420  frankfurt              7     0.715  49.991072
1       Wednesday     11420  frankfurt             14     1.087  49.984942
2        Thursday     11420  frankfurt              7     0.010  49.985613
3        Thursday     11420  frankfurt              4     0.018  49.985528
4        Thursday     11420  frankfurt              9     0.005  49.985679
...           ...       ...        ...            ...       ...        ...
20057     Tuesday     91229  frankfurt            132     0.774  50.585947
20058     Tuesday     91229  frankfurt             11     2.172  50.583418
20059     Tuesday     91229  frankfurt             16     2.645  50.572982
20060     Tuesday     91229  frankfurt             10     1.105  50.580916
20061   Wednesday     91229  frankfurt              8     1.306  50.583764

       orig_lng   dest_lat  dest_lng
0      8.412515  49.984942  8.409474
1      8.409474  49.985673  8.424641
2      8.424448  49.985538  8.424533
3      8.424512  49.985679  8.424603
4      8.424603  49.985636  8.424570
...         ...        ...       ...
20057  8.683895  50.583418  8.673678
20058  8.673678  50.573378  8.700063
20059  8.700078  50.580484  8.664531
20060  8.664705  50.582658  8.680114
20061  8.680127  50.575929  8.693904

[20062 rows x 17 columns]

In [6]:
frankfurt_set.head(100)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,0,2019-06-25 21:51:00,2019,6,25,21,51,2,Tuesday,11420,frankfurt,7,0.715,49.991072,8.412515,49.984942,8.409474
1,1,2019-06-26 06:33:00,2019,6,26,6,33,3,Wednesday,11420,frankfurt,14,1.087,49.984942,8.409474,49.985673,8.424641
2,2,2019-06-27 13:20:00,2019,6,27,13,20,4,Thursday,11420,frankfurt,7,0.010,49.985613,8.424448,49.985538,8.424533
3,3,2019-06-27 13:30:00,2019,6,27,13,30,4,Thursday,11420,frankfurt,4,0.018,49.985528,8.424512,49.985679,8.424603
4,4,2019-06-27 13:59:00,2019,6,27,13,59,4,Thursday,11420,frankfurt,9,0.005,49.985679,8.424603,49.985636,8.424570
5,5,2019-06-27 14:49:00,2019,6,27,14,49,4,Thursday,11420,frankfurt,21,1.053,49.985661,8.424644,49.991004,8.412477
6,6,2019-06-28 06:08:00,2019,6,28,6,8,5,Friday,11420,frankfurt,12,1.030,49.990980,8.412610,49.985600,8.424339
7,7,2019-06-28 10:08:00,2019,6,28,10,8,5,Friday,11420,frankfurt,19,1.050,49.985574,8.424403,49.991130,8.412532
8,8,2019-05-30 15:42:00,2019,5,30,15,42,4,Thursday,11451,frankfurt,100,0.072,50.101748,8.553437,50.101711,8.554450
9,9,2019-05-31 02:22:00,2019,5,31,2,22,5,Friday,11451,frankfurt,10,1.483,50.101711,8.554450,50.114979,8.556589
10,10,2019-06-26 18:54:00,2019,6,26,18,54,3,Wednesday,12575,frankfurt,16,0.004,49.995381,8.411746,49.995411,8.411767
11,11,2019-06-26 19:59:00,2019,6,26,19,59,3,Wednesday,12575,frankfurt,18,1.562,49.995421,8.411744,49.983808,8.424030
12,12,2019-06-27 11:08:00,2019,6,27,11,8,4,Thursday,12575,frankfurt,96,1.242,49.983904,8.423997,49.992375,8.412673
13,13,2019-06-27 13:44:00,2019,6,27,13,44,4,Thursday,12575,frankfurt,3,0.010,49.992160,8.412645,49.992249,8.412662
14,14,2019-06-27 18:46:00,2019,6,27,18,46,4,Thursday,12575,frankfurt,3,0.032,49.992253,8.412685,49.992198,8.412242
15,15,2019-06-27 20:19:00,2019,6,27,20,19,4,Thursday,12575,frankfurt,12,1.250,49.992377,8.412659,49.983907,8.424158
16,16,2019-06-28 02:11:00,2019,6,28,2,11,5,Friday,12575,frankfurt,4,0.034,49.983907,8.424158,49.983604,8.424113
17,17,2019-06-28 13:01:00,2019,6,28,13,1,5,Friday,12575,frankfurt,10,0.898,49.983604,8.424113,49.977173,8.431716
18,18,2019-06-28 13:25:00,2019,6,28,13,25,5,Friday,12575,frankfurt,15,0.923,49.977173,8.431716,49.983907,8.424168
19,19,2019-06-28 15:06:00,2019,6,28,15,6,5,Friday,12575,frankfurt,8,0.835,49.983907,8.424168,49.982007,8.435466
20,20,2019-06-28 15:40:00,2019,6,28,15,40,5,Friday,12575,frankfurt,10,0.013,49.983864,8.423970,49.983891,8.424141
21,21,2019-06-28 18:19:00,2019,6,28,18,19,5,Friday,12575,frankfurt,12,1.153,49.983891,8.424141,49.991108,8.412559
22,22,2019-06-28 18:42:00,2019,6,28,18,42,5,Friday,12575,frankfurt,19,0.716,49.991108,8.412559,49.985196,8.408602
23,23,2019-06-29 04:53:00,2019,6,29,4,53,6,Saturday,12575,frankfurt,8,0.022,49.985196,8.408602,49.985036,8.408791
24,24,2019-06-29 08:19:00,2019,6,29,8,19,6,Saturday,12575,frankfurt,25,1.121,49.985036,8.408791,49.985598,8.424443
25,25,2019-06-29 12:21:00,2019,6,29,12,21,6,Saturday,12575,frankfurt,14,0.612,49.985598,8.424443,49.990150,8.419634
26,26,2019-06-30 15:12:00,2019,6,30,15,12,7,Sunday,12575,frankfurt,28,1.139,49.991038,8.412558,49.983907,8.423996
27,27,2019-02-04 19:35:00,2019,2,4,19,35,1,Monday,38001,frankfurt,7,1.052,50.131105,8.645661,50.123839,8.636220
28,28,2019-02-26 20:03:00,2019,2,26,20,3,2,Tuesday,38001,frankfurt,7,1.056,50.114837,8.672574,50.124155,8.669688
29,29,2019-03-01 15:20:00,2019,3,1,15,20,5,Friday,38001,frankfurt,7,1.056,50.124155,8.669688,50.114837,8.672574
30,30,2019-03-01 17:42:00,2019,3,1,17,42,5,Friday,38001,frankfurt,22,1.056,50.114837,8.672574,50.124155,8.669688
31,31,2019-03-01 19:52:00,2019,3,1,19,52,5,Friday,38001,frankfurt,10,0.987,50.124155,8.669688,50.115329,8.671153
32,32,2019-03-03 16:30:00,2019,3,3,16,30,7,Sunday,38001,frankfurt,18,1.699,50.115329,8.671153,50.100153,8.668331
33,33,2019-03-21 20:18:00,2019,3,21,20,18,4,Thursday,38001,frankfurt,32,1.623,50.100153,8.668331,50.104410,8.690094
34,34,2019-03-26 11:09:00,2019,3,26,11,9,2,Tuesday,38001,frankfurt,27,3.548,50.104410,8.690094,50.086095,8.649362
35,35,2019-03-31 15:04:00,2019,3,31,15,4,7,Sunday,38001,frankfurt,31,2.959,50.086095,8.649362,50.105345,8.678008
36,36,2019-04-02 05:05:00,2019,4,2,5,5,2,Tuesday,38001,frankfurt,24,3.660,50.105345,8.678008,50.117065,8.630050
37,37,2019-05-25 17:55:00,2019,5,25,17,55,6,Saturday,38001,frankfurt,36,6.290,50.162989,8.636498,50.113562,8.679425
38,38,2019-05-25 20:51:00,2019,5,25,20,51,6,Saturday,38001,frankfurt,16,0.184,50.113562,8.679425,50.112732,8.681656
39,39,2019-05-26 15:01:00,2019,5,26,15,1,7,Sunday,38001,frankfurt,4,0.067,50.112732,8.681656,50.113151,8.682325
40,40,2019-05-29 13:32:00,2019,5,29,13,32,3,Wednesday,38001,frankfurt,26,0.265,50.113151,8.682325,50.110792,8.681833
41,41,2019-06-09 13:10:00,2019,6,9,13,10,7,Sunday,38001,frankfurt,150,0.856,50.104599,8.688963,50.110792,8.681833
42,42,2019-06-09 16:01:00,2019,6,9,16,1,7,Sunday,38001,frankfurt,73,0.347,50.110792,8.681833,50.113124,8.678609
43,43,2019-06-09 19:53:00,2019,6,9,19,53,7,Sunday,38001,frankfurt,20,0.288,50.113124,8.678609,50.115450,8.676826
44,44,2019-06-09 22:34:00,2019,6,9,22,34,7,Sunday,38001,frankfurt,27,1.258,50.115450,8.676826,50.108247,8.663221
45,45,2019-06-13 05:38:00,2019,6,13,5,38,4,Thursday,38001,frankfurt,8,1.164,50.108247,8.663221,50.114352,8.649958
46,46,2019-06-13 15:45:00,2019,6,13,15,45,4,Thursday,38001,frankfurt,16,2.344,50.114352,8.649958,50.109113,8.681801
47,47,2019-06-13 16:33:00,2019,6,13,16,33,4,Thursday,38001,frankfurt,48,3.317,50.109113,8.681801,50.137439,8.667231
48,48,2019-06-14 07:22:00,2019,6,14,7,22,5,Friday,38001,frankfurt,36,1.703,50.137439,8.667231,50.123192,8.658460
49,49,2019-06-15 16:39:00,2019,6,15,16,39,6,Saturday,38001,frankfurt,11,1.122,50.123192,8.658460,50.117540,8.645430
50,50,2019-06-15 20:28:00,2019,6,15,20,28,6,Saturday,38001,frankfurt,5,0.442,50.117540,8.645430,50.120031,8.650269
51,51,2019-06-15 22:28:00,2019,6,15,22,28,6,Saturday,38001,frankfurt,6,0.442,50.120031,8.650269,50.117540,8.645430
52,52,2019-06-16 16:12:00,2019,6,16,16,12,7,Sunday,38001,frankfurt,59,0.421,50.117540,8.645430,50.119147,8.640082
53,53,2019-06-17 05:34:00,2019,6,17,5,34,1,Monday,38001,frankfurt,29,3.919,50.119147,8.640082,50.130390,8.692180
54,54,2019-06-17 09:12:00,2019,6,17,9,12,1,Monday,38001,frankfurt,13,1.742,50.130390,8.692180,50.115009,8.687546
55,55,2019-06-17 10:51:00,2019,6,17,10,51,1,Monday,38001,frankfurt,5,0.440,50.115009,8.687546,50.118867,8.688894
56,56,2019-06-17 12:16:00,2019,6,17,12,16,1,Monday,38001,frankfurt,6,0.719,50.118867,8.688894,50.117486,8.679049
57,57,2019-03-05 12:54:00,2019,3,5,12,54,2,Tuesday,38002,frankfurt,8,0.861,50.091182,8.686082,50.098870,8.687503
58,58,2019-03-20 16:12:00,2019,3,20,16,12,3,Wednesday,38002,frankfurt,8,1.001,50.123711,8.671018,50.114854,8.673494
59,59,2019-03-20 18:51:00,2019,3,20,18,51,3,Wednesday,38002,frankfurt,12,2.392,50.114854,8.673494,50.104957,8.643708
60,60,2019-03-20 19:27:00,2019,3,20,19,27,3,Wednesday,38002,frankfurt,11,1.607,50.104957,8.643708,50.119412,8.643601
61,61,2019-03-23 13:16:00,2019,3,23,13,16,6,Saturday,38002,frankfurt,42,3.042,50.119412,8.643601,50.122002,8.686071
62,62,2019-03-24 12:03:00,2019,3,24,12,3,7,Sunday,38002,frankfurt,90,0.486,50.122002,8.686071,50.123068,8.692680
63,63,2019-03-25 07:12:00,2019,3,25,7,12,1,Monday,38002,frankfurt,16,2.160,50.123068,8.692680,50.112611,8.667151
64,64,2019-03-25 20:11:00,2019,3,25,20,11,1,Monday,38002,frankfurt,13,2.062,50.112611,8.667151,50.119147,8.640082
65,65,2019-03-26 08:22:00,2019,3,26,8,22,2,Tuesday,38002,frankfurt,7,0.883,50.119147,8.640082,50.114352,8.649958
66,66,2019-03-27 18:21:00,2019,3,27,18,21,3,Wednesday,38002,frankfurt,30,3.325,50.114352,8.649958,50.120324,8.695657
67,67,2019-03-28 06:38:00,2019,3,28,6,38,4,Thursday,38002,frankfurt,9,1.585,50.120324,8.695657,50.112969,8.676619
68,68,2019-03-30 10:36:00,2019,3,30,10,36,6,Saturday,38002,frankfurt,49,1.070,50.112969,8.676619,50.107599,8.664168
69,69,2019-03-30 15:49:00,2019,3,30,15,49,6,Saturday,38002,frankfurt,26,0.424,50.107599,8.664168,50.105105,8.668662
70,70,2019-03-30 16:16:00,2019,3,30,16,16,6,Saturday,38002,frankfurt,21,1.038,50.105105,8.668662,50.109113,8.681801
71,71,2019-03-30 17:55:00,2019,3,30,17,55,6,Saturday,38002,frankfurt,25,3.634,50.109113,8.681801,50.141761,8.684006
72,72,2019-04-02 18:28:00,2019,4,2,18,28,2,Tuesday,38002,frankfurt,9,1.392,50.141761,8.684006,50.130390,8.692180
73,73,2019-04-04 15:20:00,2019,4,4,15,20,4,Thursday,38002,frankfurt,4,0.165,50.130390,8.692180,50.128915,8.692439
74,74,2019-04-06 11:23:00,2019,4,6,11,23,6,Saturday,38002,frankfurt,23,2.014,50.128915,8.692439,50.113124,8.678609
75,75,2019-04-06 13:21:00,2019,4,6,13,21,6,Saturday,38002,frankfurt,18,0.822,50.113124,8.678609,50.108580,8.669511
76,76,2019-04-06 20:13:00,2019,4,6,20,13,6,Saturday,38002,frankfurt,19,3.029,50.108580,8.669511,50.116980,8.629106
77,77,2019-04-11 12:34:00,2019,4,11,12,34,4,Thursday,38002,frankfurt,6,0.146,50.116980,8.629106,50.116067,8.630568
78,78,2019-04-11 12:41:00,2019,4,11,12,41,4,Thursday,38002,frankfurt,102,0.146,50.116067,8.630568,50.116980,8.629106
79,79,2019-04-16 15:43:00,2019,4,16,15,43,2,Tuesday,38002,frankfurt,43,3.896,50.116980,8.629106,50.110323,8.682753
80,80,2019-04-16 17:10:00,2019,4,16,17,10,2,Tuesday,38002,frankfurt,59,3.896,50.110323,8.682753,50.116980,8.629106
81,81,2019-04-17 16:33:00,2019,4,17,16,33,3,Wednesday,38002,frankfurt,9,0.819,50.116980,8.629106,50.119147,8.640082
82,82,2019-04-18 06:13:00,2019,4,18,6,13,4,Thursday,38002,frankfurt,7,0.819,50.119147,8.640082,50.116980,8.629106
83,83,2019-04-22 11:58:00,2019,4,22,11,58,1,Monday,38002,frankfurt,17,0.802,50.109113,8.681801,50.101915,8.681114
84,84,2019-04-24 12:45:00,2019,4,24,12,45,3,Wednesday,38002,frankfurt,16,1.756,50.101915,8.681114,50.107246,8.704291
85,85,2019-04-26 15:13:00,2019,4,26,15,13,5,Friday,38002,frankfurt,26,1.522,50.107547,8.703323,50.120324,8.695657
86,86,2019-04-27 01:24:00,2019,4,27,1,24,6,Saturday,38002,frankfurt,8,1.140,50.120324,8.695657,50.126528,8.708392
87,87,2019-04-27 07:57:00,2019,4,27,7,57,6,Saturday,38002,frankfurt,40,2.459,50.126528,8.708392,50.113334,8.680711
88,88,2019-04-30 16:00:00,2019,4,30,16,0,2,Tuesday,38002,frankfurt,70,0.220,50.113334,8.680711,50.111422,8.681495
89,89,2019-05-07 17:51:00,2019,5,7,17,51,2,Tuesday,38002,frankfurt,27,1.617,50.113124,8.678609,50.121242,8.697432
90,90,2019-06-01 12:01:00,2019,6,1,12,1,6,Saturday,38002,frankfurt,28,3.495,50.111948,8.654126,50.118535,8.702047
91,91,2019-06-02 09:27:00,2019,6,2,9,27,7,Sunday,38002,frankfurt,78,3.209,50.111948,8.654126,50.115535,8.698785
92,92,2019-06-02 18:10:00,2019,6,2,18,10,7,Sunday,38002,frankfurt,58,4.060,50.114335,8.618190,50.109030,8.674521
93,93,2019-06-03 21:20:00,2019,6,3,21,20,1,Monday,38002,frankfurt,17,2.725,50.109030,8.674521,50.133475,8.671891
94,94,2019-06-04 06:49:00,2019,6,4,6,49,2,Tuesday,38002,frankfurt,14,2.718,50.133418,8.671868,50.109030,8.674521
95,95,2019-06-04 17:46:00,2019,6,4,17,46,2,Tuesday,38002,frankfurt,7,0.755,50.109030,8.674521,50.107599,8.664168
96,96,2019-06-05 07:18:00,2019,6,5,7,18,3,Wednesday,38002,frankfurt,14,2.218,50.107599,8.664168,50.127054,8.671061
97,97,2019-06-05 11:50:00,2019,6,5,11,50,3,Wednesday,38002,frankfurt,19,2.218,50.127054,8.671061,50.107599,8.664168
98,98,2019-06-07 12:24:00,2019,6,7,12,24,5,Friday,38002,frankfurt,24,3.085,50.131105,8.645661,50.113124,8.678609
99,99,2019-06-07 23:47:00,2019,6,7,23,47,5,Friday,38002,frankfurt,14,1.532,50.113124,8.678609,50.101918,8.691108

In [7]:
frankfurt_set.tail(100)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
19962,19962,2019-06-05 21:05:00,2019,6,5,21,5,3,Wednesday,38996,frankfurt,16,2.257,50.114397,8.675563,50.112704,8.707100
19963,19963,2019-06-17 15:12:00,2019,6,17,15,12,1,Monday,38996,frankfurt,6,0.068,50.129513,8.692637,50.128915,8.692439
19964,19964,2019-06-18 09:44:00,2019,6,18,9,44,2,Tuesday,38996,frankfurt,11,1.985,50.128915,8.692439,50.135930,8.666824
19965,19965,2019-06-21 12:26:00,2019,6,21,12,26,5,Friday,38996,frankfurt,59,3.901,50.101643,8.628361,50.109113,8.681801
19966,19966,2019-06-21 17:20:00,2019,6,21,17,20,5,Friday,38996,frankfurt,11,0.501,50.109113,8.681801,50.113124,8.678609
19967,19967,2019-06-21 17:40:00,2019,6,21,17,40,5,Friday,38996,frankfurt,25,4.436,50.113124,8.678609,50.130287,8.622433
19968,19968,2019-06-22 08:35:00,2019,6,22,8,35,6,Saturday,38996,frankfurt,30,4.200,50.130287,8.622433,50.124277,8.680599
19969,19969,2019-06-22 09:30:00,2019,6,22,9,30,6,Saturday,38996,frankfurt,32,1.188,50.124274,8.680602,50.114305,8.686588
19970,19970,2019-06-23 01:17:00,2019,6,23,1,17,7,Sunday,38996,frankfurt,33,0.104,50.114305,8.686588,50.115009,8.687546
19971,19971,2019-06-24 20:44:00,2019,6,24,20,44,1,Monday,38996,frankfurt,8,0.818,50.107110,8.689225,50.101915,8.681114
19972,19972,2019-06-25 16:52:00,2019,6,25,16,52,2,Tuesday,38996,frankfurt,18,1.708,50.110389,8.701086,50.101915,8.681114
19973,19973,2019-06-26 07:00:00,2019,6,26,7,0,3,Wednesday,38996,frankfurt,14,1.708,50.101915,8.681114,50.110389,8.701086
19974,19974,2019-06-26 15:59:00,2019,6,26,15,59,3,Wednesday,38996,frankfurt,26,1.631,50.110389,8.701086,50.113124,8.678609
19975,19975,2019-06-26 17:24:00,2019,6,26,17,24,3,Wednesday,38996,frankfurt,10,1.458,50.113124,8.678609,50.125997,8.682476
19976,19976,2019-06-27 06:51:00,2019,6,27,6,51,4,Thursday,38996,frankfurt,24,2.740,50.125997,8.682476,50.108824,8.654920
19977,19977,2019-06-27 16:11:00,2019,6,27,16,11,4,Thursday,38996,frankfurt,9,0.673,50.108824,8.654920,50.107599,8.664168
19978,19978,2019-06-27 17:12:00,2019,6,27,17,12,4,Thursday,38996,frankfurt,51,2.654,50.107599,8.664168,50.120324,8.695657
19979,19979,2019-06-27 20:09:00,2019,6,27,20,9,4,Thursday,38996,frankfurt,42,1.591,50.120324,8.695657,50.109113,8.681801
19980,19980,2019-06-27 22:28:00,2019,6,27,22,28,4,Thursday,38996,frankfurt,32,3.634,50.109113,8.681801,50.141761,8.684006
19981,19981,2019-03-31 07:39:00,2019,3,31,7,39,7,Sunday,38997,frankfurt,58,0.844,50.115009,8.687546,50.108388,8.681758
19982,19982,2019-04-01 08:16:00,2019,4,1,8,16,1,Monday,38997,frankfurt,46,1.735,50.109113,8.681801,50.123068,8.692680
19983,19983,2019-04-08 00:27:00,2019,4,8,0,27,1,Monday,38997,frankfurt,6,0.613,50.123068,8.692680,50.122879,8.701279
19984,19984,2019-04-08 08:14:00,2019,4,8,8,14,1,Monday,38997,frankfurt,9,1.144,50.122879,8.701279,50.123591,8.717281
19985,19985,2019-04-09 06:13:00,2019,4,9,6,13,2,Tuesday,38997,frankfurt,40,1.144,50.123591,8.717281,50.122879,8.701279
19986,19986,2019-04-10 16:35:00,2019,4,10,16,35,3,Wednesday,38997,frankfurt,9,1.089,50.122879,8.701279,50.122002,8.686071
19987,19987,2019-04-11 06:37:00,2019,4,11,6,37,4,Thursday,38997,frankfurt,13,1.532,50.122002,8.686071,50.117032,8.666030
19988,19988,2019-04-11 16:04:00,2019,4,11,16,4,4,Thursday,38997,frankfurt,132,2.135,50.117032,8.666030,50.131105,8.645661
19989,19989,2019-04-15 06:06:00,2019,4,15,6,6,1,Monday,38997,frankfurt,142,2.928,50.131105,8.645661,50.107599,8.664168
19990,19990,2019-04-15 13:30:00,2019,4,15,13,30,1,Monday,38997,frankfurt,132,3.227,50.107599,8.664168,50.130390,8.692180
19991,19991,2019-04-16 10:15:00,2019,4,16,10,15,2,Tuesday,38997,frankfurt,16,2.097,50.130390,8.692180,50.136095,8.664136
19992,19992,2019-05-23 14:57:00,2019,5,23,14,57,4,Thursday,38997,frankfurt,79,1.977,50.123068,8.692680,50.128890,8.666469
19993,19993,2019-05-23 17:31:00,2019,5,23,17,31,4,Thursday,38997,frankfurt,40,3.804,50.128890,8.666469,50.114335,8.618190
19994,19994,2019-05-25 01:58:00,2019,5,25,1,58,6,Saturday,38997,frankfurt,13,0.832,50.114335,8.618190,50.116980,8.629106
19995,19995,2019-05-25 15:20:00,2019,5,25,15,20,6,Saturday,38997,frankfurt,152,1.363,50.116980,8.629106,50.125657,8.615600
19996,19996,2019-05-25 19:04:00,2019,5,25,19,4,6,Saturday,38997,frankfurt,83,1.363,50.125673,8.615626,50.116980,8.629106
19997,19997,2019-06-01 16:54:00,2019,6,1,16,54,6,Saturday,38997,frankfurt,63,0.079,50.116980,8.629106,50.117435,8.629962
19998,19998,2019-06-02 13:41:00,2019,6,2,13,41,7,Sunday,38997,frankfurt,12,1.156,50.117496,8.629895,50.125122,8.618880
19999,19999,2019-06-02 17:47:00,2019,6,2,17,47,7,Sunday,38997,frankfurt,38,3.033,50.124579,8.611890,50.102132,8.636048
20000,20000,2019-06-04 09:04:00,2019,6,4,9,4,2,Tuesday,38997,frankfurt,49,1.536,50.102132,8.636048,50.110028,8.653727
20001,20001,2019-06-05 06:38:00,2019,6,5,6,38,3,Wednesday,38997,frankfurt,15,2.944,50.131061,8.627766,50.110662,8.654093
20002,20002,2019-06-05 16:12:00,2019,6,5,16,12,3,Wednesday,38997,frankfurt,15,1.536,50.110662,8.654093,50.121217,8.640207
20003,20003,2019-06-05 16:56:00,2019,6,5,16,56,3,Wednesday,38997,frankfurt,109,1.415,50.121217,8.640207,50.131046,8.627600
20004,20004,2019-06-06 07:35:00,2019,6,6,7,35,4,Thursday,38997,frankfurt,125,4.639,50.131046,8.627600,50.129513,8.692637
20005,20005,2019-06-07 18:33:00,2019,6,7,18,33,5,Friday,38997,frankfurt,25,0.893,50.128915,8.692439,50.122002,8.686071
20006,20006,2019-06-08 09:47:00,2019,6,8,9,47,6,Saturday,38997,frankfurt,10,0.785,50.122002,8.686071,50.115009,8.687546
20007,20007,2019-06-08 11:37:00,2019,6,8,11,37,6,Saturday,38997,frankfurt,27,3.453,50.115009,8.687546,50.130343,8.645429
20008,20008,2019-06-08 12:27:00,2019,6,8,12,27,6,Saturday,38997,frankfurt,7,0.877,50.130343,8.645429,50.122474,8.646295
20009,20009,2019-06-08 13:18:00,2019,6,8,13,18,6,Saturday,38997,frankfurt,8,0.874,50.122474,8.646295,50.130311,8.645370
20010,20010,2019-06-09 18:24:00,2019,6,9,18,24,7,Sunday,38997,frankfurt,19,3.513,50.130335,8.645308,50.109113,8.681801
20011,20011,2019-06-15 14:29:00,2019,6,15,14,29,6,Saturday,38997,frankfurt,36,2.259,50.119412,8.643601,50.123776,8.612655
20012,20012,2019-06-16 09:58:00,2019,6,16,9,58,7,Sunday,38997,frankfurt,137,1.003,50.123809,8.612644,50.130287,8.622433
20013,20013,2019-06-22 10:27:00,2019,6,22,10,27,6,Saturday,38997,frankfurt,12,0.944,50.130287,8.622433,50.125500,8.611493
20014,20014,2019-06-22 10:40:00,2019,6,22,10,40,6,Saturday,38997,frankfurt,7,0.394,50.125500,8.611493,50.127367,8.606788
20015,20015,2019-06-22 11:00:00,2019,6,22,11,0,6,Saturday,38997,frankfurt,10,1.129,50.127367,8.606788,50.136720,8.600612
20016,20016,2019-06-22 12:01:00,2019,6,22,12,1,6,Saturday,38997,frankfurt,18,1.712,50.136720,8.600612,50.130287,8.622433
20017,20017,2019-06-25 17:16:00,2019,6,25,17,16,2,Tuesday,38997,frankfurt,31,3.901,50.130287,8.622433,50.107599,8.664168
20018,20018,2019-06-25 18:41:00,2019,6,25,18,41,2,Tuesday,38997,frankfurt,33,2.737,50.107599,8.664168,50.108386,8.702534
20019,20019,2019-06-25 19:55:00,2019,6,25,19,55,2,Tuesday,38997,frankfurt,40,3.118,50.108386,8.702534,50.107481,8.658831
20020,20020,2019-06-27 08:29:00,2019,6,27,8,29,4,Thursday,38997,frankfurt,6,0.008,50.107496,8.658908,50.107479,8.658797
20021,20021,2019-06-27 17:10:00,2019,6,27,17,10,4,Thursday,38997,frankfurt,17,0.966,50.115329,8.671153,50.110595,8.682512
20022,20022,2019-06-27 17:41:00,2019,6,27,17,41,4,Thursday,38997,frankfurt,16,0.645,50.110792,8.681833,50.114548,8.674946
20023,20023,2019-06-27 22:18:00,2019,6,27,22,18,4,Thursday,38997,frankfurt,26,1.667,50.114549,8.674874,50.100153,8.668331
20024,20024,2019-06-28 22:11:00,2019,6,28,22,11,5,Friday,38997,frankfurt,16,1.836,50.100153,8.668331,50.104957,8.643708
20025,20025,2019-06-29 10:39:00,2019,6,29,10,39,6,Saturday,38997,frankfurt,126,3.306,50.104957,8.643708,50.107954,8.689825
20026,20026,2019-06-29 17:38:00,2019,6,29,17,38,6,Saturday,38997,frankfurt,34,3.600,50.107110,8.689225,50.111416,8.739253
20027,20027,2019-06-29 19:58:00,2019,6,29,19,58,6,Saturday,38997,frankfurt,27,0.523,50.111416,8.739253,50.106897,8.741287
20028,20028,2019-04-04 18:56:00,2019,4,4,18,56,4,Thursday,38999,frankfurt,27,0.392,50.111948,8.654126,50.108848,8.651496
20029,20029,2019-04-16 10:57:00,2019,4,16,10,57,2,Tuesday,38999,frankfurt,7,1.056,50.114837,8.672574,50.124155,8.669688
20030,20030,2019-04-16 11:15:00,2019,4,16,11,15,2,Tuesday,38999,frankfurt,33,1.065,50.124155,8.669688,50.114880,8.673387
20031,20031,2019-04-17 07:08:00,2019,4,17,7,8,3,Wednesday,38999,frankfurt,21,2.607,50.114880,8.673387,50.111452,8.709562
20032,20032,2019-04-21 19:28:00,2019,4,21,19,28,7,Sunday,38999,frankfurt,12,1.321,50.112704,8.707100,50.108094,8.690026
20033,20033,2019-04-23 14:34:00,2019,4,23,14,34,2,Tuesday,38999,frankfurt,16,1.590,50.108094,8.690026,50.108043,8.712324
20034,20034,2019-04-23 14:53:00,2019,4,23,14,53,2,Tuesday,38999,frankfurt,43,1.568,50.108043,8.712324,50.108504,8.690343
20035,20035,2019-04-23 15:44:00,2019,4,23,15,44,2,Tuesday,38999,frankfurt,19,0.932,50.108504,8.690343,50.107547,8.703323
20036,20036,2019-05-18 15:47:00,2019,5,18,15,47,6,Saturday,38999,frankfurt,41,0.931,50.105829,8.699557,50.112957,8.706411
20037,20037,2019-05-20 10:14:00,2019,5,20,10,14,1,Monday,38999,frankfurt,14,0.057,50.112957,8.706411,50.112704,8.707100
20038,20038,2019-05-23 20:13:00,2019,5,23,20,13,4,Thursday,38999,frankfurt,52,1.338,50.112704,8.707100,50.108093,8.689776
20039,20039,2019-05-30 21:22:00,2019,5,30,21,22,4,Thursday,38999,frankfurt,25,2.356,50.106433,8.695486,50.101364,8.663417
20040,20040,2019-05-30 21:49:00,2019,5,30,21,49,4,Thursday,38999,frankfurt,45,2.527,50.101364,8.663417,50.109340,8.696596
20041,20041,2019-06-01 14:57:00,2019,6,1,14,57,6,Saturday,38999,frankfurt,16,1.055,50.109340,8.696596,50.109113,8.681801
20042,20042,2019-06-04 13:49:00,2019,6,4,13,49,2,Tuesday,38999,frankfurt,50,0.278,50.109113,8.681801,50.110066,8.678191
20043,20043,2019-06-07 09:17:00,2019,6,7,9,17,5,Friday,38999,frankfurt,131,2.081,50.110063,8.678215,50.112704,8.707100
20044,20044,2019-06-08 11:52:00,2019,6,8,11,52,6,Saturday,38999,frankfurt,21,1.987,50.112704,8.707100,50.124510,8.686174
20045,20045,2019-06-13 12:52:00,2019,6,13,12,52,4,Thursday,38999,frankfurt,70,1.289,50.124510,8.686174,50.131360,8.671582
20046,20046,2019-06-13 14:52:00,2019,6,13,14,52,4,Thursday,38999,frankfurt,11,1.632,50.131360,8.671582,50.117486,8.679049
20047,20047,2019-06-15 15:23:00,2019,6,15,15,23,6,Saturday,38999,frankfurt,19,2.083,50.104410,8.690094,50.123068,8.692680
20048,20048,2019-06-15 19:31:00,2019,6,15,19,31,6,Saturday,38999,frankfurt,15,2.083,50.123068,8.692680,50.104410,8.690094
20049,20049,2019-06-15 23:46:00,2019,6,15,23,46,6,Saturday,38999,frankfurt,12,1.384,50.104410,8.690094,50.115535,8.698785
20050,20050,2019-06-16 16:19:00,2019,6,16,16,19,7,Sunday,38999,frankfurt,15,0.595,50.115535,8.698785,50.110389,8.701086
20051,20051,2019-06-18 06:13:00,2019,6,18,6,13,2,Tuesday,38999,frankfurt,15,1.997,50.109113,8.681801,50.111452,8.709562
20052,20052,2019-06-18 13:42:00,2019,6,18,13,42,2,Tuesday,38999,frankfurt,21,2.193,50.111452,8.709562,50.099555,8.685041
20053,20053,2019-05-06 14:40:00,2019,5,6,14,40,1,Monday,91229,frankfurt,3,0.026,50.586684,8.682068,50.586907,8.682190
20054,20054,2019-05-06 15:12:00,2019,5,6,15,12,1,Monday,91229,frankfurt,6,0.618,50.586987,8.682282,50.582800,8.676527
20055,20055,2019-05-06 17:30:00,2019,5,6,17,30,1,Monday,91229,frankfurt,7,0.847,50.582902,8.676433,50.580151,8.665249
20056,20056,2019-05-06 17:56:00,2019,5,6,17,56,1,Monday,91229,frankfurt,9,1.495,50.580409,8.664609,50.586084,8.683803
20057,20057,2019-05-07 09:36:00,2019,5,7,9,36,2,Tuesday,91229,frankfurt,132,0.774,50.585947,8.683895,50.583418,8.673678
20058,20058,2019-05-07 12:00:00,2019,5,7,12,0,2,Tuesday,91229,frankfurt,11,2.172,50.583418,8.673678,50.573378,8.700063
20059,20059,2019-05-07 14:04:00,2019,5,7,14,4,2,Tuesday,91229,frankfurt,16,2.645,50.572982,8.700078,50.580484,8.664531
20060,20060,2019-05-07 19:54:00,2019,5,7,19,54,2,Tuesday,91229,frankfurt,10,1.105,50.580916,8.664705,50.582658,8.680114
20061,20061,2019-05-08 04:17:00,2019,5,8,4,17,3,Wednesday,91229,frankfurt,8,1.306,50.583764,8.680127,50.575929,8.693904

### 1.1.4 Dropping not necessary rows of Frankfurt

In [8]:
# Cleaning the dataset from rows with value "NaN"
frankfurt = frankfurt_set.dropna(axis=0)

In [9]:
frankfurt

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,0,2019-06-25 21:51:00,2019,6,25,21,51,2,Tuesday,11420,frankfurt,7,0.715,49.991072,8.412515,49.984942,8.409474
1,1,2019-06-26 06:33:00,2019,6,26,6,33,3,Wednesday,11420,frankfurt,14,1.087,49.984942,8.409474,49.985673,8.424641
2,2,2019-06-27 13:20:00,2019,6,27,13,20,4,Thursday,11420,frankfurt,7,0.010,49.985613,8.424448,49.985538,8.424533
3,3,2019-06-27 13:30:00,2019,6,27,13,30,4,Thursday,11420,frankfurt,4,0.018,49.985528,8.424512,49.985679,8.424603
4,4,2019-06-27 13:59:00,2019,6,27,13,59,4,Thursday,11420,frankfurt,9,0.005,49.985679,8.424603,49.985636,8.424570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20057,20057,2019-05-07 09:36:00,2019,5,7,9,36,2,Tuesday,91229,frankfurt,132,0.774,50.585947,8.683895,50.583418,8.673678
20058,20058,2019-05-07 12:00:00,2019,5,7,12,0,2,Tuesday,91229,frankfurt,11,2.172,50.583418,8.673678,50.573378,8.700063
20059,20059,2019-05-07 14:04:00,2019,5,7,14,4,2,Tuesday,91229,frankfurt,16,2.645,50.572982,8.700078,50.580484,8.664531
20060,20060,2019-05-07 19:54:00,2019,5,7,19,54,2,Tuesday,91229,frankfurt,10,1.105,50.580916,8.664705,50.582658,8.680114
20061,20061,2019-05-08 04:17:00,2019,5,8,4,17,3,Wednesday,91229,frankfurt,8,1.306,50.583764,8.680127,50.575929,8.693904

## 1.2 Berlin Set

In [10]:
berlin_set.head(10)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,0,2019-02-16 14:53:00,2019,2,16,14,53,6,Saturday,13001,berlin,21,4.141,52.505076,13.414721,52.534591,13.452043
1,1,2019-02-16 17:22:00,2019,2,16,17,22,6,Saturday,13001,berlin,27,4.142,52.534591,13.452043,52.504621,13.415686
2,2,2019-02-16 23:29:00,2019,2,16,23,29,6,Saturday,13001,berlin,22,3.894,52.504621,13.415686,52.528998,13.456997
3,3,2019-02-18 17:49:00,2019,2,18,17,49,1,Monday,13001,berlin,15,1.855,52.528998,13.456997,52.536231,13.432285
4,4,2019-02-19 13:08:00,2019,2,19,13,8,2,Tuesday,13001,berlin,9,1.009,52.536231,13.432285,52.543311,13.441611
5,5,2019-02-19 13:46:00,2019,2,19,13,46,2,Tuesday,13001,berlin,10,1.009,52.543311,13.441611,52.536231,13.432285
6,6,2019-02-19 15:49:00,2019,2,19,15,49,2,Tuesday,13001,berlin,25,1.519,52.536231,13.432285,52.527150,13.415514
7,7,2019-02-19 18:28:00,2019,2,19,18,28,2,Tuesday,13001,berlin,36,1.995,52.527150,13.415514,52.544556,13.422655
8,8,2019-02-25 16:16:00,2019,2,25,16,16,1,Monday,13001,berlin,27,5.316,52.515353,13.459825,52.512622,13.381388
9,9,2019-02-25 18:14:00,2019,2,25,18,14,1,Monday,13001,berlin,5,0.402,52.512622,13.381388,52.516231,13.381112

### 1.2.1 Adding Weekdays for Berlin

** The split method for timestamp will not working later, if use this function first for weekdays. maybe use it later

berlin_set.day = pd.to_datetime(berlin_set.day)

for ind, row in berlin_set.iterrows():
    berlin_set.loc[ind, "Weekday"] = calendar.day_name[row['day'].weekday()]

### 1.2.2 Distance between the locations in Berlin

for ind, row in berlin_set.iterrows():
    berlin_set.loc[ind, "distance"] = haversine(row['orig_lng'], row['orig_lat'], row['dest_lng'], row['dest_lat'])

### 1.2.3 Show Dataset of Berlin

In [11]:
berlin_set.head(10)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,0,2019-02-16 14:53:00,2019,2,16,14,53,6,Saturday,13001,berlin,21,4.141,52.505076,13.414721,52.534591,13.452043
1,1,2019-02-16 17:22:00,2019,2,16,17,22,6,Saturday,13001,berlin,27,4.142,52.534591,13.452043,52.504621,13.415686
2,2,2019-02-16 23:29:00,2019,2,16,23,29,6,Saturday,13001,berlin,22,3.894,52.504621,13.415686,52.528998,13.456997
3,3,2019-02-18 17:49:00,2019,2,18,17,49,1,Monday,13001,berlin,15,1.855,52.528998,13.456997,52.536231,13.432285
4,4,2019-02-19 13:08:00,2019,2,19,13,8,2,Tuesday,13001,berlin,9,1.009,52.536231,13.432285,52.543311,13.441611
5,5,2019-02-19 13:46:00,2019,2,19,13,46,2,Tuesday,13001,berlin,10,1.009,52.543311,13.441611,52.536231,13.432285
6,6,2019-02-19 15:49:00,2019,2,19,15,49,2,Tuesday,13001,berlin,25,1.519,52.536231,13.432285,52.527150,13.415514
7,7,2019-02-19 18:28:00,2019,2,19,18,28,2,Tuesday,13001,berlin,36,1.995,52.527150,13.415514,52.544556,13.422655
8,8,2019-02-25 16:16:00,2019,2,25,16,16,1,Monday,13001,berlin,27,5.316,52.515353,13.459825,52.512622,13.381388
9,9,2019-02-25 18:14:00,2019,2,25,18,14,1,Monday,13001,berlin,5,0.402,52.512622,13.381388,52.516231,13.381112

In [12]:
berlin_set.tail(10)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
215071,215071,2019-06-21 18:54:00,2019,6,21,18,54,5,Friday,19998,berlin,37,5.014,52.486772,13.428720,52.522798,13.473276
215072,215072,2019-06-28 17:29:00,2019,6,28,17,29,5,Friday,19998,berlin,33,0.218,52.500967,13.419026,52.501950,13.416246
215073,215073,2019-06-27 09:16:00,2019,6,27,9,16,4,Thursday,20003,berlin,23,0.072,51.324766,12.337239,51.324444,12.338144
215074,215074,2019-06-27 09:41:00,2019,6,27,9,41,4,Thursday,20003,berlin,30,0.027,51.324444,12.338144,51.324672,12.338012
215075,215075,2019-06-27 10:14:00,2019,6,27,10,14,4,Thursday,20003,berlin,14,0.002,51.324425,12.338135,51.324412,12.338156
215076,215076,2019-05-13 09:57:00,2019,5,13,9,57,1,Monday,30186,berlin,13,0.021,52.534774,13.346862,52.534924,13.347056
215077,215077,2019-04-01 16:20:00,2019,4,1,16,20,1,Monday,33140,berlin,50,0.470,52.507288,13.333964,52.505247,13.327885
215078,215078,2019-05-10 10:59:00,2019,5,10,10,59,5,Friday,38671,berlin,5,0.361,50.813178,8.775800,50.814100,8.770868
215079,215079,2019-06-18 19:21:00,2019,6,18,19,21,2,Tuesday,99851,berlin,3,0.311,52.494436,13.379319,52.497192,13.380079
215080,215080,2019-06-19 15:43:00,2019,6,19,15,43,3,Wednesday,99909,berlin,4,0.015,52.535013,13.347290,52.534947,13.347106

### 1.2.4 Dropping not necessary rows of Berlin

In [13]:
# Cleaning the dataset from rows with value "NaN"
berlin = berlin_set.dropna(axis=0)

In [14]:
berlin

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng
0,0,2019-02-16 14:53:00,2019,2,16,14,53,6,Saturday,13001,berlin,21,4.141,52.505076,13.414721,52.534591,13.452043
1,1,2019-02-16 17:22:00,2019,2,16,17,22,6,Saturday,13001,berlin,27,4.142,52.534591,13.452043,52.504621,13.415686
2,2,2019-02-16 23:29:00,2019,2,16,23,29,6,Saturday,13001,berlin,22,3.894,52.504621,13.415686,52.528998,13.456997
3,3,2019-02-18 17:49:00,2019,2,18,17,49,1,Monday,13001,berlin,15,1.855,52.528998,13.456997,52.536231,13.432285
4,4,2019-02-19 13:08:00,2019,2,19,13,8,2,Tuesday,13001,berlin,9,1.009,52.536231,13.432285,52.543311,13.441611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215076,215076,2019-05-13 09:57:00,2019,5,13,9,57,1,Monday,30186,berlin,13,0.021,52.534774,13.346862,52.534924,13.347056
215077,215077,2019-04-01 16:20:00,2019,4,1,16,20,1,Monday,33140,berlin,50,0.470,52.507288,13.333964,52.505247,13.327885
215078,215078,2019-05-10 10:59:00,2019,5,10,10,59,5,Friday,38671,berlin,5,0.361,50.813178,8.775800,50.814100,8.770868
215079,215079,2019-06-18 19:21:00,2019,6,18,19,21,2,Tuesday,99851,berlin,3,0.311,52.494436,13.379319,52.497192,13.380079
215080,215080,2019-06-19 15:43:00,2019,6,19,15,43,3,Wednesday,99909,berlin,4,0.015,52.535013,13.347290,52.534947,13.347106

# 2. Weather data

The imported weather data are from the CDC weather database. We imported the following data for berlin and frankfurt from the 02/01/2019 to the 06/30/2019:
    1. windspeed
    2. precipation
    3. temperature

The **goal** for chapter 2. is to clean the weather data and merge them together into one table.
First, we will go through each dataset in chapter 2.1, 2.2, and 2.3. There we will clean the data and make them able to work with.
Second, we will merge the datasets together.

In [15]:
weather_windspeed = pd.read_csv("data_FF_MN008.csv") #Stndliche Stationsmessungen der Windgeschwindigkeit in 10 m Hhe in m/s 
weather_precipitation = pd.read_csv("data_R1_MN008.csv") #Stndliche Stationsmessungen der Niederschlagshhe in mm fr Deutschland
weather_temperature = pd.read_csv("data_TT_TU_MN009.csv") #Stndliche Stationsmessungen der Lufttemperatur auf 2 m Hhe in C

## 2.1 cleaning windspeed data

In [16]:
weather_windspeed.head()

  Produkt_Code  SDO_ID   Zeitstempel  Wert  Qualitaet_Byte  Qualitaet_Niveau
0     FF_MN008    1420  201902010000   2.5               3                 0
1     FF_MN008    1420  201902010100   2.4               3                 0
2     FF_MN008    1420  201902010200   1.7               3                 0
3     FF_MN008    1420  201902010300   1.6               3                 0
4     FF_MN008    1420  201902010400   2.1               3                 0

In [17]:
# Renaming column names
weather_windspeed.rename(columns = {"Wert": "Windspeed in m/s"},inplace = True)

In [18]:
# Set timestamp         
for ind, row in weather_windspeed.iterrows():
    weather_windspeed.loc[ind, "Zeitstempel"] = pd.to_datetime(row['Zeitstempel'], format='%Y%m%d%H%M')

In [19]:
# Change the PID from CDC data to readable data
for ind, row in weather_windspeed.iterrows():
    if weather_windspeed.loc[ind, "SDO_ID"] == 1420:
        weather_windspeed.loc[ind, "SDO_ID"] = "Frankfurt"
    elif weather_windspeed.loc[ind, "SDO_ID"] == 433:
        weather_windspeed.loc[ind, "SDO_ID"] = "Berlin"
    else: 
        weather_windspeed.loc[ind, "SDO_ID"] = ""

In [20]:
# Drop not necessary columns
cleaned_weather_windspeed = weather_windspeed.drop(["Qualitaet_Byte", "Qualitaet_Niveau", "Produkt_Code"], axis=1)

In [21]:
cleaned_weather_windspeed

         SDO_ID          Zeitstempel  Windspeed in m/s
0     Frankfurt  2019-02-01 00:00:00               2.5
1     Frankfurt  2019-02-01 01:00:00               2.4
2     Frankfurt  2019-02-01 02:00:00               1.7
3     Frankfurt  2019-02-01 03:00:00               1.6
4     Frankfurt  2019-02-01 04:00:00               2.1
...         ...                  ...               ...
7176     Berlin  2019-06-30 19:00:00               2.6
7177     Berlin  2019-06-30 20:00:00               6.6
7178     Berlin  2019-06-30 21:00:00               7.8
7179     Berlin  2019-06-30 22:00:00               6.5
7180     Berlin  2019-06-30 23:00:00               5.3

[7181 rows x 3 columns]

## 2.2 cleaning precipation data (Niederschlagshhe)

In [22]:
weather_precipitation.head()

  Produkt_Code  SDO_ID   Zeitstempel  Wert  Qualitaet_Byte  Qualitaet_Niveau
0     R1_MN008    1420  201902010000   0.0               3                 0
1     R1_MN008    1420  201902010100   0.0               3                 0
2     R1_MN008    1420  201902010200   0.2               3                 0
3     R1_MN008    1420  201902010300   0.7               3                 0
4     R1_MN008    1420  201902010400   0.0               3                 0

In [23]:
# Renaming column names
weather_precipitation.rename(columns = {"Wert": "Precipation in mm"},inplace = True)

In [24]:
# Set timestamp         
for ind, row in weather_precipitation.iterrows():
    weather_precipitation.loc[ind, "Zeitstempel"] = pd.to_datetime(row['Zeitstempel'], format='%Y%m%d%H%M')

In [25]:
# Change the PID from CDC data to readable data
for ind, row in weather_precipitation.iterrows():
    if weather_precipitation.loc[ind, "SDO_ID"] == 1420:
        weather_precipitation.loc[ind, "SDO_ID"] = "Frankfurt"
    elif weather_precipitation.loc[ind, "SDO_ID"] == 433:
        weather_precipitation.loc[ind, "SDO_ID"] = "Berlin"
    else: 
        weather_precipitation.loc[ind, "SDO_ID"] = ""

In [26]:
# Drop not necessary columns
cleaned_weather_precipitation = weather_precipitation.drop(["Qualitaet_Byte", "Qualitaet_Niveau", "Produkt_Code"], axis=1)

In [27]:
cleaned_weather_precipitation

         SDO_ID          Zeitstempel  Precipation in mm
0     Frankfurt  2019-02-01 00:00:00                0.0
1     Frankfurt  2019-02-01 01:00:00                0.0
2     Frankfurt  2019-02-01 02:00:00                0.2
3     Frankfurt  2019-02-01 03:00:00                0.7
4     Frankfurt  2019-02-01 04:00:00                0.0
...         ...                  ...                ...
7173     Berlin  2019-06-30 19:00:00                0.0
7174     Berlin  2019-06-30 20:00:00                0.0
7175     Berlin  2019-06-30 21:00:00                0.0
7176     Berlin  2019-06-30 22:00:00                0.0
7177     Berlin  2019-06-30 23:00:00                0.0

[7178 rows x 3 columns]

## 2.3 cleaning temperature data

In [28]:
weather_temperature.head()

  Produkt_Code  SDO_ID   Zeitstempel  Wert  Qualitaet_Byte  Qualitaet_Niveau
0  TT_TU_MN009    1420  201902010000  -0.3               7                 6
1  TT_TU_MN009    1420  201902010100  -0.1               7                 6
2  TT_TU_MN009    1420  201902010200  -0.3               7                 1
3  TT_TU_MN009    1420  201902010300  -0.3               7                 1
4  TT_TU_MN009    1420  201902010400   0.0               7                 1

In [29]:
# Renaming column names
weather_temperature.rename(columns = {"Wert": "Temperature"},inplace = True)

In [30]:
# Set timestamp         
for ind, row in weather_temperature.iterrows():
    weather_temperature.loc[ind, "Zeitstempel"] = pd.to_datetime(row['Zeitstempel'], format='%Y%m%d%H%M')

In [31]:
# Change the PID from CDC data to readable data
for ind, row in weather_temperature.iterrows():
    if weather_temperature.loc[ind, "SDO_ID"] == 1420:
        weather_temperature.loc[ind, "SDO_ID"] = "Frankfurt"
    elif weather_temperature.loc[ind, "SDO_ID"] == 433:
        weather_temperature.loc[ind, "SDO_ID"] = "Berlin"
    else: 
        weather_temperature.loc[ind, "SDO_ID"] = ""

In [32]:
# Drop not necessary columns
cleaned_weather_temperature = weather_temperature.drop(["Qualitaet_Byte", "Qualitaet_Niveau", "Produkt_Code"], axis=1)

In [33]:
cleaned_weather_temperature

         SDO_ID          Zeitstempel  Temperature
0     Frankfurt  2019-02-01 00:00:00         -0.3
1     Frankfurt  2019-02-01 01:00:00         -0.1
2     Frankfurt  2019-02-01 02:00:00         -0.3
3     Frankfurt  2019-02-01 03:00:00         -0.3
4     Frankfurt  2019-02-01 04:00:00          0.0
...         ...                  ...          ...
7195     Berlin  2019-06-30 19:00:00         34.1
7196     Berlin  2019-06-30 20:00:00         30.1
7197     Berlin  2019-06-30 21:00:00         27.8
7198     Berlin  2019-06-30 22:00:00         25.8
7199     Berlin  2019-06-30 23:00:00         24.2

[7200 rows x 3 columns]

## 2.4 merging the datasets to one final table

In [34]:
# Merging the tables windspeed and preciption
weather_set1 = pd.merge(cleaned_weather_windspeed, cleaned_weather_precipitation,  on=('Zeitstempel', 'SDO_ID'), how='outer')

In [35]:
# Result of that firt merge:
weather_set1

         SDO_ID          Zeitstempel  Windspeed in m/s  Precipation in mm
0     Frankfurt  2019-02-01 00:00:00               2.5                0.0
1     Frankfurt  2019-02-01 01:00:00               2.4                0.0
2     Frankfurt  2019-02-01 02:00:00               1.7                0.2
3     Frankfurt  2019-02-01 03:00:00               1.6                0.7
4     Frankfurt  2019-02-01 04:00:00               2.1                0.0
...         ...                  ...               ...                ...
7176     Berlin  2019-06-30 19:00:00               2.6                0.0
7177     Berlin  2019-06-30 20:00:00               6.6                0.0
7178     Berlin  2019-06-30 21:00:00               7.8                0.0
7179     Berlin  2019-06-30 22:00:00               6.5                0.0
7180     Berlin  2019-06-30 23:00:00               5.3                0.0

[7181 rows x 4 columns]

In [36]:
# Merging the table windspeed and preciption with the temerature dataset
weather_set2 = pd.merge(weather_set1, cleaned_weather_temperature,  on=('Zeitstempel', 'SDO_ID'), how='outer')

In [37]:
# Result of that second merge:
weather_set2

,SDO_ID,Zeitstempel,Windspeed in m/s,Precipation in mm,Temperature
0,Frankfurt,2019-02-01 00:00:00,2.5,0.0,-0.3
1,Frankfurt,2019-02-01 01:00:00,2.4,0.0,-0.1
2,Frankfurt,2019-02-01 02:00:00,1.7,0.2,-0.3
3,Frankfurt,2019-02-01 03:00:00,1.6,0.7,-0.3
4,Frankfurt,2019-02-01 04:00:00,2.1,0.0,0.0
...,...,...,...,...,...
7195,Berlin,2019-06-13 08:00:00,NaN,NaN,17.6
7196,Berlin,2019-06-13 09:00:00,NaN,NaN,18.9
7197,Berlin,2019-06-13 10:00:00,NaN,NaN,20.0
7198,Berlin,2019-06-13 11:00:00,NaN,NaN,21.6
7199,Berlin,2019-06-13 12:00:00,NaN,NaN,23.1

In [38]:
# Cleaning the merged dataset, because we have rows with NaN
weather = weather_set2.dropna(axis=0)

In [39]:
# Result of our cleaned and merged weather data for berlin and frankfurt from 02/2019 to 06/2019
weather

,SDO_ID,Zeitstempel,Windspeed in m/s,Precipation in mm,Temperature
0,Frankfurt,2019-02-01 00:00:00,2.5,0.0,-0.3
1,Frankfurt,2019-02-01 01:00:00,2.4,0.0,-0.1
2,Frankfurt,2019-02-01 02:00:00,1.7,0.2,-0.3
3,Frankfurt,2019-02-01 03:00:00,1.6,0.7,-0.3
4,Frankfurt,2019-02-01 04:00:00,2.1,0.0,0.0
...,...,...,...,...,...
7176,Berlin,2019-06-30 19:00:00,2.6,0.0,34.1
7177,Berlin,2019-06-30 20:00:00,6.6,0.0,30.1
7178,Berlin,2019-06-30 21:00:00,7.8,0.0,27.8
7179,Berlin,2019-06-30 22:00:00,6.5,0.0,25.8
7180,Berlin,2019-06-30 23:00:00,5.3,0.0,24.2

# 3. Matching Weather Wata to the Next Bike Data

## 3.1 Frankfurt Set

In [40]:
# get info about frankfurt sets column "day"
frankfurt_set["day"]

0        2019-06-25 21:51:00
1        2019-06-26 06:33:00
2        2019-06-27 13:20:00
3        2019-06-27 13:30:00
4        2019-06-27 13:59:00
                ...
20057    2019-05-07 09:36:00
20058    2019-05-07 12:00:00
20059    2019-05-07 14:04:00
20060    2019-05-07 19:54:00
20061    2019-05-08 04:17:00
Name: day, Length: 20062, dtype: object

In [41]:
# get info about frankfurt sets column "time"
frankfurt_set['hour'] = pd.to_numeric(frankfurt_set['hour'])

In [62]:
type(frankfurt_set['day'])

pandas.core.series.Series

In [42]:
type(frankfurt_set['hour'])

pandas.core.series.Series

In [43]:
# Matching the temperature data to the frankfurt set
for ind, row in frankfurt_set.iterrows():
    date = frankfurt_set.loc[ind, "day"].split("-")
    year = int(date[0])
    month = int(date[1])
    day = date[2]
    time = day.split(" ")
    daydate = int(time[0])
    #hour = int(frankfurt.loc[ind, "time"].split(":")[0])
    hour = time[1].split(":")[0]
    hour1 = int(hour)
    frankfurt_set.loc[ind, "Zeitstempel"] = pd.Timestamp(year, month, daydate, hour1)

In [63]:
type(frankfurt_set['Zeitstempel'])

pandas.core.series.Series

In [44]:
frankfurt_set

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng,Zeitstempel
0,0,2019-06-25 21:51:00,2019,6,25,21,51,2,Tuesday,11420,frankfurt,7,0.715,49.991072,8.412515,49.984942,8.409474,2019-06-25 21:00:00
1,1,2019-06-26 06:33:00,2019,6,26,6,33,3,Wednesday,11420,frankfurt,14,1.087,49.984942,8.409474,49.985673,8.424641,2019-06-26 06:00:00
2,2,2019-06-27 13:20:00,2019,6,27,13,20,4,Thursday,11420,frankfurt,7,0.010,49.985613,8.424448,49.985538,8.424533,2019-06-27 13:00:00
3,3,2019-06-27 13:30:00,2019,6,27,13,30,4,Thursday,11420,frankfurt,4,0.018,49.985528,8.424512,49.985679,8.424603,2019-06-27 13:00:00
4,4,2019-06-27 13:59:00,2019,6,27,13,59,4,Thursday,11420,frankfurt,9,0.005,49.985679,8.424603,49.985636,8.424570,2019-06-27 13:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20057,20057,2019-05-07 09:36:00,2019,5,7,9,36,2,Tuesday,91229,frankfurt,132,0.774,50.585947,8.683895,50.583418,8.673678,2019-05-07 09:00:00
20058,20058,2019-05-07 12:00:00,2019,5,7,12,0,2,Tuesday,91229,frankfurt,11,2.172,50.583418,8.673678,50.573378,8.700063,2019-05-07 12:00:00
20059,20059,2019-05-07 14:04:00,2019,5,7,14,4,2,Tuesday,91229,frankfurt,16,2.645,50.572982,8.700078,50.580484,8.664531,2019-05-07 14:00:00
20060,20060,2019-05-07 19:54:00,2019,5,7,19,54,2,Tuesday,91229,frankfurt,10,1.105,50.580916,8.664705,50.582658,8.680114,2019-05-07 19:00:00
20061,20061,2019-05-08 04:17:00,2019,5,8,4,17,3,Wednesday,91229,frankfurt,8,1.306,50.583764,8.680127,50.575929,8.693904,2019-05-08 04:00:00

### 3.1.1 Checking if the data is matched right

In [45]:
weather

,SDO_ID,Zeitstempel,Windspeed in m/s,Precipation in mm,Temperature
0,Frankfurt,2019-02-01 00:00:00,2.5,0.0,-0.3
1,Frankfurt,2019-02-01 01:00:00,2.4,0.0,-0.1
2,Frankfurt,2019-02-01 02:00:00,1.7,0.2,-0.3
3,Frankfurt,2019-02-01 03:00:00,1.6,0.7,-0.3
4,Frankfurt,2019-02-01 04:00:00,2.1,0.0,0.0
...,...,...,...,...,...
7176,Berlin,2019-06-30 19:00:00,2.6,0.0,34.1
7177,Berlin,2019-06-30 20:00:00,6.6,0.0,30.1
7178,Berlin,2019-06-30 21:00:00,7.8,0.0,27.8
7179,Berlin,2019-06-30 22:00:00,6.5,0.0,25.8
7180,Berlin,2019-06-30 23:00:00,5.3,0.0,24.2

In [46]:
type(weather["Zeitstempel"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [47]:
weather["Zeitstempel"][1]

Timestamp('2019-02-01 01:00:00')

In [48]:
frankfurt_set['Zeitstempel']

0       2019-06-25 21:00:00
1       2019-06-26 06:00:00
2       2019-06-27 13:00:00
3       2019-06-27 13:00:00
4       2019-06-27 13:00:00
                ...
20057   2019-05-07 09:00:00
20058   2019-05-07 12:00:00
20059   2019-05-07 14:00:00
20060   2019-05-07 19:00:00
20061   2019-05-08 04:00:00
Name: Zeitstempel, Length: 20062, dtype: datetime64[ns]

In [49]:
type(frankfurt_set['Zeitstempel'])

pandas.core.series.Series

In [50]:
weather["SDO_ID"][0]

'Frankfurt'

In [51]:
weather["Temperature"][3]

-0.3

In [52]:
weather[(weather["Zeitstempel"] == pd.Timestamp(2019, 2, 1, 4))]

,SDO_ID,Zeitstempel,Windspeed in m/s,Precipation in mm,Temperature
4,Frankfurt,2019-02-01 04:00:00,2.1,0.0,0.0
3604,Berlin,2019-02-01 04:00:00,3.3,0.0,-3.4

In [53]:
weather[(weather["SDO_ID"] == "Frankfurt")]

,SDO_ID,Zeitstempel,Windspeed in m/s,Precipation in mm,Temperature
0,Frankfurt,2019-02-01 00:00:00,2.5,0.0,-0.3
1,Frankfurt,2019-02-01 01:00:00,2.4,0.0,-0.1
2,Frankfurt,2019-02-01 02:00:00,1.7,0.2,-0.3
3,Frankfurt,2019-02-01 03:00:00,1.6,0.7,-0.3
4,Frankfurt,2019-02-01 04:00:00,2.1,0.0,0.0
...,...,...,...,...,...
3595,Frankfurt,2019-06-30 19:00:00,5.1,0.0,33.9
3596,Frankfurt,2019-06-30 20:00:00,7.4,0.0,31.4
3597,Frankfurt,2019-06-30 21:00:00,4.7,0.0,28.3
3598,Frankfurt,2019-06-30 22:00:00,5.4,0.0,26.8
3599,Frankfurt,2019-06-30 23:00:00,2.2,0.0,26.0

In [54]:
def get_temperature(day):
    return weather[(weather["Zeitstempel"] == day) & (weather["SDO_ID"] == "Frankfurt")].iloc[0, 4]

In [55]:
print(get_temperature(frankfurt_set.loc[0, "Zeitstempel"]))

27.3

In [56]:
frankfurt_set.loc[0, "Zeitstempel"]

Timestamp('2019-06-25 21:00:00')

In [57]:
frankfurt_set.columns

Index(['Unnamed: 0', 'day', 'year', 'month', 'date', 'hour', 'min', 'weekday',
       'weekday_str', 'b_number', 'city', 'trip_duration', 'distance',
       'orig_lat', 'orig_lng', 'dest_lat', 'dest_lng', 'Zeitstempel'],
      dtype='object')

### 3.1.2 Adding the Temperature Column to the Frankfurt Set

In [58]:
frankfurt_set

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng,Zeitstempel
0,0,2019-06-25 21:51:00,2019,6,25,21,51,2,Tuesday,11420,frankfurt,7,0.715,49.991072,8.412515,49.984942,8.409474,2019-06-25 21:00:00
1,1,2019-06-26 06:33:00,2019,6,26,6,33,3,Wednesday,11420,frankfurt,14,1.087,49.984942,8.409474,49.985673,8.424641,2019-06-26 06:00:00
2,2,2019-06-27 13:20:00,2019,6,27,13,20,4,Thursday,11420,frankfurt,7,0.010,49.985613,8.424448,49.985538,8.424533,2019-06-27 13:00:00
3,3,2019-06-27 13:30:00,2019,6,27,13,30,4,Thursday,11420,frankfurt,4,0.018,49.985528,8.424512,49.985679,8.424603,2019-06-27 13:00:00
4,4,2019-06-27 13:59:00,2019,6,27,13,59,4,Thursday,11420,frankfurt,9,0.005,49.985679,8.424603,49.985636,8.424570,2019-06-27 13:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20057,20057,2019-05-07 09:36:00,2019,5,7,9,36,2,Tuesday,91229,frankfurt,132,0.774,50.585947,8.683895,50.583418,8.673678,2019-05-07 09:00:00
20058,20058,2019-05-07 12:00:00,2019,5,7,12,0,2,Tuesday,91229,frankfurt,11,2.172,50.583418,8.673678,50.573378,8.700063,2019-05-07 12:00:00
20059,20059,2019-05-07 14:04:00,2019,5,7,14,4,2,Tuesday,91229,frankfurt,16,2.645,50.572982,8.700078,50.580484,8.664531,2019-05-07 14:00:00
20060,20060,2019-05-07 19:54:00,2019,5,7,19,54,2,Tuesday,91229,frankfurt,10,1.105,50.580916,8.664705,50.582658,8.680114,2019-05-07 19:00:00
20061,20061,2019-05-08 04:17:00,2019,5,8,4,17,3,Wednesday,91229,frankfurt,8,1.306,50.583764,8.680127,50.575929,8.693904,2019-05-08 04:00:00

In [59]:
for ind, row in frankfurt_set.iterrows():
    frankfurt_set.loc[ind, "temperature"] = get_temperature(frankfurt_set.loc[ind, "Zeitstempel"])

In [60]:
frankfurt_set.head(10)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng,Zeitstempel,temperature
0,0,2019-06-25 21:51:00,2019,6,25,21,51,2,Tuesday,11420,frankfurt,7,0.715,49.991072,8.412515,49.984942,8.409474,2019-06-25 21:00:00,27.3
1,1,2019-06-26 06:33:00,2019,6,26,6,33,3,Wednesday,11420,frankfurt,14,1.087,49.984942,8.409474,49.985673,8.424641,2019-06-26 06:00:00,25.0
2,2,2019-06-27 13:20:00,2019,6,27,13,20,4,Thursday,11420,frankfurt,7,0.010,49.985613,8.424448,49.985538,8.424533,2019-06-27 13:00:00,30.6
3,3,2019-06-27 13:30:00,2019,6,27,13,30,4,Thursday,11420,frankfurt,4,0.018,49.985528,8.424512,49.985679,8.424603,2019-06-27 13:00:00,30.6
4,4,2019-06-27 13:59:00,2019,6,27,13,59,4,Thursday,11420,frankfurt,9,0.005,49.985679,8.424603,49.985636,8.424570,2019-06-27 13:00:00,30.6
5,5,2019-06-27 14:49:00,2019,6,27,14,49,4,Thursday,11420,frankfurt,21,1.053,49.985661,8.424644,49.991004,8.412477,2019-06-27 14:00:00,30.5
6,6,2019-06-28 06:08:00,2019,6,28,6,8,5,Friday,11420,frankfurt,12,1.030,49.990980,8.412610,49.985600,8.424339,2019-06-28 06:00:00,17.0
7,7,2019-06-28 10:08:00,2019,6,28,10,8,5,Friday,11420,frankfurt,19,1.050,49.985574,8.424403,49.991130,8.412532,2019-06-28 10:00:00,21.9
8,8,2019-05-30 15:42:00,2019,5,30,15,42,4,Thursday,11451,frankfurt,100,0.072,50.101748,8.553437,50.101711,8.554450,2019-05-30 15:00:00,20.0
9,9,2019-05-31 02:22:00,2019,5,31,2,22,5,Friday,11451,frankfurt,10,1.483,50.101711,8.554450,50.114979,8.556589,2019-05-31 02:00:00,14.3

## 3.2 Berlin Set

In [61]:
 # Matching the temperature data to the berlin set
for ind, row in berlin_set.iterrows():
    date = berlin_set.loc[ind, "day"].split("-")
    year = int(date[0])
    month = int(date[1])
    day = date[2]
    time = day.split(" ")
    daydate = int(time[0])
    #hour = int(berlin.loc[ind, "time"].split(":")[0])
    hour = time[1].split(":")[0]
    hour1 = int(hour)
    berlin_set.loc[ind, "Zeitstempel"] = pd.Timestamp(year, month, daydate, hour1)

KeyboardInterrupt:

In [64]:
berlin_set.head(10)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng,Zeitstempel
0,0,2019-02-16 14:53:00,2019,2,16,14,53,6,Saturday,13001,berlin,21,4.141,52.505076,13.414721,52.534591,13.452043,2019-02-16 14:00:00
1,1,2019-02-16 17:22:00,2019,2,16,17,22,6,Saturday,13001,berlin,27,4.142,52.534591,13.452043,52.504621,13.415686,2019-02-16 17:00:00
2,2,2019-02-16 23:29:00,2019,2,16,23,29,6,Saturday,13001,berlin,22,3.894,52.504621,13.415686,52.528998,13.456997,2019-02-16 23:00:00
3,3,2019-02-18 17:49:00,2019,2,18,17,49,1,Monday,13001,berlin,15,1.855,52.528998,13.456997,52.536231,13.432285,2019-02-18 17:00:00
4,4,2019-02-19 13:08:00,2019,2,19,13,8,2,Tuesday,13001,berlin,9,1.009,52.536231,13.432285,52.543311,13.441611,2019-02-19 13:00:00
5,5,2019-02-19 13:46:00,2019,2,19,13,46,2,Tuesday,13001,berlin,10,1.009,52.543311,13.441611,52.536231,13.432285,2019-02-19 13:00:00
6,6,2019-02-19 15:49:00,2019,2,19,15,49,2,Tuesday,13001,berlin,25,1.519,52.536231,13.432285,52.527150,13.415514,2019-02-19 15:00:00
7,7,2019-02-19 18:28:00,2019,2,19,18,28,2,Tuesday,13001,berlin,36,1.995,52.527150,13.415514,52.544556,13.422655,2019-02-19 18:00:00
8,8,2019-02-25 16:16:00,2019,2,25,16,16,1,Monday,13001,berlin,27,5.316,52.515353,13.459825,52.512622,13.381388,2019-02-25 16:00:00
9,9,2019-02-25 18:14:00,2019,2,25,18,14,1,Monday,13001,berlin,5,0.402,52.512622,13.381388,52.516231,13.381112,2019-02-25 18:00:00

In [65]:
def get_temperatureBerlin(day):
    return weather[(weather["Zeitstempel"] == day) & (weather["SDO_ID"] == "Berlin")].iloc[0, 4]

In [66]:
print(get_temperatureBerlin(berlin_set.loc[0, "Zeitstempel"]))

16.6

In [67]:
berlin_set.columns

Index(['Unnamed: 0', 'day', 'year', 'month', 'date', 'hour', 'min', 'weekday',
       'weekday_str', 'b_number', 'city', 'trip_duration', 'distance',
       'orig_lat', 'orig_lng', 'dest_lat', 'dest_lng', 'Zeitstempel'],
      dtype='object')

In [68]:
for ind, row in berlin_set.iterrows():
    berlin_set.loc[ind, "temperature"] = get_temperatureBerlin(berlin_set.loc[ind, "Zeitstempel"])

IndexError: single positional indexer is out-of-bounds

In [69]:
berlin_set.head(100)

,Unnamed: 0,day,year,month,date,hour,min,weekday,weekday_str,b_number,city,trip_duration,distance,orig_lat,orig_lng,dest_lat,dest_lng,Zeitstempel,temperature
0,0,2019-02-16 14:53:00,2019,2,16,14,53,6,Saturday,13001,berlin,21,4.141,52.505076,13.414721,52.534591,13.452043,2019-02-16 14:00:00,16.6
1,1,2019-02-16 17:22:00,2019,2,16,17,22,6,Saturday,13001,berlin,27,4.142,52.534591,13.452043,52.504621,13.415686,2019-02-16 17:00:00,12.4
2,2,2019-02-16 23:29:00,2019,2,16,23,29,6,Saturday,13001,berlin,22,3.894,52.504621,13.415686,52.528998,13.456997,2019-02-16 23:00:00,5.3
3,3,2019-02-18 17:49:00,2019,2,18,17,49,1,Monday,13001,berlin,15,1.855,52.528998,13.456997,52.536231,13.432285,2019-02-18 17:00:00,12.3
4,4,2019-02-19 13:08:00,2019,2,19,13,8,2,Tuesday,13001,berlin,9,1.009,52.536231,13.432285,52.543311,13.441611,2019-02-19 13:00:00,9.7
5,5,2019-02-19 13:46:00,2019,2,19,13,46,2,Tuesday,13001,berlin,10,1.009,52.543311,13.441611,52.536231,13.432285,2019-02-19 13:00:00,9.7
6,6,2019-02-19 15:49:00,2019,2,19,15,49,2,Tuesday,13001,berlin,25,1.519,52.536231,13.432285,52.527150,13.415514,2019-02-19 15:00:00,10.0
7,7,2019-02-19 18:28:00,2019,2,19,18,28,2,Tuesday,13001,berlin,36,1.995,52.527150,13.415514,52.544556,13.422655,2019-02-19 18:00:00,9.2
8,8,2019-02-25 16:16:00,2019,2,25,16,16,1,Monday,13001,berlin,27,5.316,52.515353,13.459825,52.512622,13.381388,2019-02-25 16:00:00,13.1
9,9,2019-02-25 18:14:00,2019,2,25,18,14,1,Monday,13001,berlin,5,0.402,52.512622,13.381388,52.516231,13.381112,2019-02-25 18:00:00,10.1
10,10,2019-02-27 09:28:00,2019,2,27,9,28,3,Wednesday,13001,berlin,25,4.191,52.517006,13.386998,52.526464,13.446953,2019-02-27 09:00:00,8.4
11,11,2019-02-27 14:46:00,2019,2,27,14,46,3,Wednesday,13001,berlin,18,3.560,52.526464,13.446953,52.545465,13.404587,2019-02-27 14:00:00,16.6
12,12,2019-03-02 11:43:00,2019,3,2,11,43,6,Saturday,13001,berlin,26,0.011,52.545453,13.404599,52.545358,13.404616,2019-03-02 11:00:00,5.1
13,13,2019-03-04 13:56:00,2019,3,4,13,56,1,Monday,13001,berlin,6,0.575,52.541146,13.419509,52.536389,13.416182,2019-03-04 13:00:00,10.0
14,14,2019-03-04 14:35:00,2019,3,4,14,35,1,Monday,13001,berlin,5,0.137,52.536389,13.416182,52.536550,13.418196,2019-03-04 14:00:00,12.9
15,15,2019-03-06 22:15:00,2019,3,6,22,15,3,Wednesday,13001,berlin,11,1.021,52.541040,13.419423,52.536231,13.432285,2019-03-06 22:00:00,9.2
16,16,2019-03-24 13:55:00,2019,3,24,13,55,7,Sunday,13001,berlin,19,0.216,52.493639,13.412475,52.494567,13.415278,2019-03-24 13:00:00,11.7
17,17,2019-03-24 16:30:00,2019,3,24,16,30,7,Sunday,13001,berlin,15,2.046,52.494567,13.415278,52.503024,13.388430,2019-03-24 16:00:00,9.3
18,18,2019-03-24 17:24:00,2019,3,24,17,24,7,Sunday,13001,berlin,14,1.928,52.503030,13.388402,52.492408,13.410904,2019-03-24 17:00:00,8.8
19,19,2019-03-24 18:01:00,2019,3,24,18,1,7,Sunday,13001,berlin,28,0.022,52.492403,13.410927,52.492326,13.411226,2019-03-24 18:00:00,6.8
20,20,2019-03-26 13:40:00,2019,3,26,13,40,2,Tuesday,13001,berlin,45,0.374,52.492326,13.411226,52.489601,13.407977,2019-03-26 13:00:00,6.5
21,21,2019-03-26 16:04:00,2019,3,26,16,4,2,Tuesday,13001,berlin,16,2.993,52.489601,13.407977,52.509702,13.378569,2019-03-26 16:00:00,7.9
22,22,2019-03-27 18:34:00,2019,3,27,18,34,3,Wednesday,13001,berlin,18,2.779,52.509809,13.379384,52.494602,13.346799,2019-03-27 18:00:00,9.8
23,23,2019-04-01 16:18:00,2019,4,1,16,18,1,Monday,13001,berlin,30,5.309,52.489601,13.407977,52.536507,13.422591,2019-04-01 16:00:00,10.9
24,24,2019-04-03 07:08:00,2019,4,3,7,8,3,Wednesday,13001,berlin,28,5.309,52.536507,13.422591,52.489601,13.407977,2019-04-03 07:00:00,9.5
25,25,2019-04-06 10:50:00,2019,4,6,10,50,6,Saturday,13001,berlin,60,0.340,52.532183,13.421317,52.529784,13.418194,2019-04-06 10:00:00,17.4
26,26,2019-04-07 09:18:00,2019,4,7,9,18,7,Sunday,13001,berlin,19,2.078,52.529784,13.418194,52.515599,13.398198,2019-04-07 09:00:00,16.2
27,27,2019-04-07 10:09:00,2019,4,7,10,9,7,Sunday,13001,berlin,12,1.473,52.515599,13.398198,52.516302,13.376464,2019-04-07 10:00:00,16.9
28,28,2019-04-08 16:10:00,2019,4,8,16,10,1,Monday,13001,berlin,107,2.162,52.500728,13.412819,52.513740,13.389083,2019-04-08 16:00:00,17.4
29,29,2019-04-09 16:24:00,2019,4,9,16,24,2,Tuesday,13001,berlin,32,2.255,52.513740,13.389083,52.523356,13.359743,2019-04-09 16:00:00,9.9
30,30,2019-04-10 06:59:00,2019,4,10,6,59,3,Wednesday,13001,berlin,12,2.255,52.523356,13.359743,52.513740,13.389083,2019-04-10 06:00:00,2.5
31,31,2019-04-11 06:23:00,2019,4,11,6,23,4,Thursday,13001,berlin,14,1.888,52.496227,13.419697,52.503377,13.444991,2019-04-11 06:00:00,1.6
32,32,2019-04-11 15:12:00,2019,4,11,15,12,4,Thursday,13001,berlin,12,1.044,52.485126,13.444498,52.475912,13.447492,2019-04-11 15:00:00,4.9
33,33,2019-04-11 16:57:00,2019,4,11,16,57,4,Thursday,13001,berlin,11,1.044,52.475912,13.447492,52.485126,13.444498,2019-04-11 16:00:00,4.7
34,34,2019-04-12 20:36:00,2019,4,12,20,36,5,Friday,13001,berlin,11,0.979,52.503527,13.444083,52.502084,13.429816,2019-04-12 20:00:00,3.3
35,35,2019-04-12 21:37:00,2019,4,12,21,37,5,Friday,13001,berlin,19,1.800,52.502084,13.429816,52.485910,13.430926,2019-04-12 21:00:00,3.3
36,36,2019-04-13 11:53:00,2019,4,13,11,53,6,Saturday,13001,berlin,59,4.649,52.485910,13.430926,52.524729,13.405433,2019-04-13 11:00:00,6.1
37,37,2019-04-13 17:00:00,2019,4,13,17,0,6,Saturday,13001,berlin,44,4.853,52.524729,13.405433,52.484653,13.433832,2019-04-13 17:00:00,6.4
38,38,2019-04-14 13:08:00,2019,4,14,13,8,7,Sunday,13001,berlin,12,1.604,52.484653,13.433832,52.496227,13.419697,2019-04-14 13:00:00,7.5
39,39,2019-04-14 13:24:00,2019,4,14,13,24,7,Sunday,13001,berlin,29,1.795,52.496227,13.419697,52.511742,13.426993,2019-04-14 13:00:00,7.5
40,40,2019-04-18 14:07:00,2019,4,18,14,7,4,Thursday,13001,berlin,13,2.018,52.490071,13.386773,52.477578,13.365158,2019-04-18 14:00:00,19.9
41,41,2019-04-21 07:03:00,2019,4,21,7,3,7,Sunday,13001,berlin,115,4.443,52.477430,13.364927,52.486772,13.428720,2019-04-21 07:00:00,11.9
42,42,2019-04-21 11:29:00,2019,4,21,11,29,7,Sunday,13001,berlin,86,0.768,52.486772,13.428720,52.489599,13.439063,2019-04-21 11:00:00,18.9
43,43,2019-04-21 13:40:00,2019,4,21,13,40,7,Sunday,13001,berlin,10,1.040,52.489599,13.439063,52.497809,13.431698,2019-04-21 13:00:00,20.2
44,44,2019-04-26 07:20:00,2019,4,26,7,20,5,Friday,13001,berlin,155,2.325,52.508079,13.450687,52.494437,13.424663,2019-04-26 07:00:00,19.1
45,45,2019-04-28 19:49:00,2019,4,28,19,49,7,Sunday,13001,berlin,10,0.742,52.489044,13.422128,52.486499,13.432252,2019-04-28 19:00:00,10.4
46,46,2019-05-05 10:44:00,2019,5,5,10,44,7,Sunday,13001,berlin,98,0.675,52.489237,13.389961,52.493286,13.382524,2019-05-05 10:00:00,10.2
47,47,2019-05-09 13:32:00,2019,5,9,13,32,4,Thursday,13001,berlin,10,1.724,52.490558,13.313330,52.486896,13.338074,2019-05-09 13:00:00,16.2
48,48,2019-05-10 06:25:00,2019,5,10,6,25,5,Friday,13001,berlin,14,1.673,52.486896,13.338074,52.490544,13.314097,2019-05-10 06:00:00,12.8
49,49,2019-05-21 09:44:00,2019,5,21,9,44,2,Tuesday,13001,berlin,64,1.448,52.490558,13.313330,52.498323,13.296157,2019-05-21 09:00:00,20.7
50,50,2019-05-24 10:10:00,2019,5,24,10,10,5,Friday,13001,berlin,11,1.408,52.498323,13.296157,52.497417,13.316897,2019-05-24 10:00:00,20.8
51,51,2019-05-25 02:25:00,2019,5,25,2,25,6,Saturday,13001,berlin,19,2.061,52.497750,13.317022,52.480018,13.325876,2019-05-25 02:00:00,12.6
52,52,2019-05-25 14:17:00,2019,5,25,14,17,6,Saturday,13001,berlin,27,4.488,52.480018,13.325876,52.516095,13.296165,2019-05-25 14:00:00,15.9
53,53,2019-06-01 10:46:00,2019,6,1,10,46,6,Saturday,13001,berlin,40,1.404,52.516765,13.294588,52.529334,13.296515,2019-06-01 10:00:00,23.5
54,54,2019-06-03 18:36:00,2019,6,3,18,36,1,Monday,13001,berlin,42,2.504,52.529294,13.296511,52.513434,13.322788,2019-06-03 18:00:00,24.5
55,55,2019-06-04 06:51:00,2019,6,4,6,51,2,Tuesday,13001,berlin,7,0.724,52.513434,13.322788,52.519613,13.319410,2019-06-04 06:00:00,20.8
56,56,2019-06-04 15:57:00,2019,6,4,15,57,2,Tuesday,13001,berlin,7,0.982,52.519417,13.319550,52.511947,13.311819,2019-06-04 15:00:00,30.9
57,57,2019-06-05 13:49:00,2019,6,5,13,49,3,Wednesday,13001,berlin,11,0.992,52.511981,13.311576,52.506806,13.299635,2019-06-05 13:00:00,33.5
58,58,2019-06-05 14:46:00,2019,6,5,14,46,3,Wednesday,13001,berlin,12,1.140,52.506806,13.299635,52.512018,13.314133,2019-06-05 14:00:00,33.1
59,59,2019-06-05 17:26:00,2019,6,5,17,26,3,Wednesday,13001,berlin,48,4.158,52.512018,13.314133,52.526768,13.370595,2019-06-05 17:00:00,31.4
60,60,2019-06-05 19:52:00,2019,6,5,19,52,3,Wednesday,13001,berlin,71,4.155,52.526768,13.370595,52.512024,13.314170,2019-06-05 19:00:00,28.8
61,61,2019-06-06 10:38:00,2019,6,6,10,38,4,Thursday,13001,berlin,11,0.307,52.512024,13.314170,52.511801,13.309655,2019-06-06 10:00:00,28.0
62,62,2019-06-06 12:04:00,2019,6,6,12,4,4,Thursday,13001,berlin,25,5.526,52.511801,13.309655,52.493641,13.385655,2019-06-06 12:00:00,31.1
63,63,2019-06-07 07:40:00,2019,6,7,7,40,5,Friday,13001,berlin,29,4.791,52.493641,13.385655,52.513434,13.322788,2019-06-07 07:00:00,17.7
64,64,2019-06-07 14:50:00,2019,6,7,14,50,5,Friday,13001,berlin,136,3.654,52.513434,13.322788,52.508075,13.376053,2019-06-07 14:00:00,24.2
65,65,2019-06-08 11:31:00,2019,6,8,11,31,6,Saturday,13001,berlin,15,1.848,52.508075,13.376053,52.493049,13.387719,2019-06-08 11:00:00,18.0
66,66,2019-06-08 20:13:00,2019,6,8,20,13,6,Saturday,13001,berlin,19,2.224,52.493067,13.387829,52.473960,13.378132,2019-06-08 20:00:00,18.0
67,67,2019-06-15 12:02:00,2019,6,15,12,2,6,Saturday,13001,berlin,55,1.731,52.501620,13.477317,52.486314,13.481962,2019-06-15 12:00:00,30.5
68,68,2019-06-15 16:02:00,2019,6,15,16,2,6,Saturday,13001,berlin,27,3.915,52.486314,13.481962,52.472737,13.428618,2019-06-15 16:00:00,28.3
69,69,2019-06-15 17:17:00,2019,6,15,17,17,6,Saturday,13001,berlin,29,2.604,52.472737,13.428618,52.495624,13.436788,2019-06-15 17:00:00,26.4
70,70,2019-06-17 17:54:00,2019,6,17,17,54,1,Monday,13001,berlin,15,0.599,52.495624,13.436788,52.498372,13.429182,2019-06-17 17:00:00,25.7
71,71,2019-06-19 06:55:00,2019,6,19,6,55,3,Wednesday,13001,berlin,19,2.903,52.498372,13.429182,52.492325,13.387463,2019-06-19 06:00:00,21.4
72,72,2019-06-20 23:48:00,2019,6,20,23,48,4,Thursday,13001,berlin,24,3.125,52.489382,13.392587,52.484814,13.438125,2019-06-20 23:00:00,19.6
73,73,2019-06-21 11:13:00,2019,6,21,11,13,5,Friday,13001,berlin,74,13.718,52.484797,13.438122,52.490200,13.235715,2019-06-21 11:00:00,23.1
74,74,2019-02-13 19:55:00,2019,2,13,19,55,3,Wednesday,13002,berlin,10,0.455,52.474677,13.450782,52.470946,13.448026,2019-02-13 19:00:00,7.2
75,75,2019-02-15 09:48:00,2019,2,15,9,48,5,Friday,13002,berlin,9,1.330,52.470946,13.448026,52.472737,13.428618,2019-02-15 09:00:00,5.2
76,76,2019-02-15 10:13:00,2019,2,15,10,13,5,Friday,13002,berlin,7,0.834,52.472737,13.428618,52.473502,13.440874,2019-02-15 10:00:00,7.9
77,77,2019-02-15 12:06:00,2019,2,15,12,6,5,Friday,13002,berlin,22,0.914,52.473502,13.440874,52.467995,13.430847,2019-02-15 12:00:00,12.5
78,78,2019-02-15 12:47:00,2019,2,15,12,47,5,Friday,13002,berlin,6,0.752,52.467995,13.430847,52.469951,13.441477,2019-02-15 12:00:00,12.5
79,79,2019-02-15 13:31:00,2019,2,15,13,31,5,Friday,13002,berlin,7,0.466,52.469951,13.441477,52.473732,13.444457,2019-02-15 13:00:00,13.6
80,80,2019-02-17 00:37:00,2019,2,17,0,37,7,Sunday,13002,berlin,11,1.506,52.473732,13.444457,52.477226,13.422980,2019-02-17 00:00:00,4.3
81,81,2019-02-17 01:45:00,2019,2,17,1,45,7,Sunday,13002,berlin,25,2.635,52.477226,13.422980,52.499867,13.434490,2019-02-17 01:00:00,3.2
82,82,2019-02-17 03:11:00,2019,2,17,3,11,7,Sunday,13002,berlin,51,0.531,52.499867,13.434490,52.496877,13.440603,2019-02-17 03:00:00,2.6
83,83,2019-02-17 14:40:00,2019,2,17,14,40,7,Sunday,13002,berlin,19,1.674,52.496877,13.440603,52.482688,13.432327,2019-02-17 14:00:00,13.9
84,84,2019-02-17 15:59:00,2019,2,17,15,59,7,Sunday,13002,berlin,13,1.149,52.482688,13.432327,52.476736,13.418464,2019-02-17 15:00:00,13.4
85,85,2019-02-18 10:15:00,2019,2,18,10,15,1,Monday,13002,berlin,27,1.184,52.476736,13.418464,52.487122,13.422333,2019-02-18 10:00:00,10.6
86,86,2019-02-22 11:39:00,2019,2,22,11,39,5,Friday,13002,berlin,11,1.703,52.487122,13.422333,52.489121,13.397390,2019-02-22 11:00:00,3.1
87,87,2019-02-25 09:34:00,2019,2,25,9,34,1,Monday,13002,berlin,12,1.930,52.499179,13.427767,52.485126,13.444498,2019-02-25 09:00:00,6.8
88,88,2019-02-26 08:03:00,2019,2,26,8,3,2,Tuesday,13002,berlin,16,2.675,52.485126,13.444498,52.500304,13.413844,2019-02-26 08:00:00,5.0
89,89,2019-02-26 13:10:00,2019,2,26,13,10,2,Tuesday,13002,berlin,54,0.084,52.500304,13.413844,52.500753,13.412839,2019-02-26 13:00:00,11.0
90,90,2019-02-26 17:46:00,2019,2,26,17,46,2,Tuesday,13002,berlin,25,3.960,52.500753,13.412839,52.498955,13.354408,2019-02-26 17:00:00,10.2
91,91,2019-03-06 01:33:00,2019,3,6,1,33,3,Wednesday,13002,berlin,31,6.356,52.498955,13.354408,52.532779,13.430123,2019-03-06 01:00:00,3.1
92,92,2019-03-08 17:15:00,2019,3,8,17,15,5,Friday,13002,berlin,18,1.726,52.529567,13.401463,52.531675,13.426749,2019-03-08 17:00:00,8.1
93,93,2019-03-09 11:33:00,2019,3,9,11,33,6,Saturday,13002,berlin,32,4.468,52.531675,13.426749,52.514750,13.486650,2019-03-09 11:00:00,10.0
94,94,2019-03-09 14:53:00,2019,3,9,14,53,6,Saturday,13002,berlin,36,5.681,52.514750,13.486650,52.543399,13.417106,2019-03-09 14:00:00,11.3
95,95,2019-03-09 16:40:00,2019,3,9,16,40,6,Saturday,13002,berlin,15,1.476,52.543399,13.417106,52.531436,13.426548,2019-03-09 16:00:00,9.7
96,96,2019-03-13 17:51:00,2019,3,13,17,51,3,Wednesday,13002,berlin,24,3.361,52.499013,13.426178,52.526464,13.446953,2019-03-13 17:00:00,8.9
97,97,2019-03-19 12:58:00,2019,3,19,12,58,2,Tuesday,13002,berlin,7,1.260,52.476789,13.426652,52.469951,13.441477,2019-03-19 12:00:00,7.2
98,98,2019-03-20 13:22:00,2019,3,20,13,22,3,Wednesday,13002,berlin,11,1.835,52.489601,13.407977,52.484653,13.433832,2019-03-20 13:00:00,12.9
99,99,2019-03-20 18:49:00,2019,3,20,18,49,3,Wednesday,13002,berlin,11,1.715,52.484653,13.433832,52.469951,13.441477,2019-03-20 18:00:00,12.0