In [28]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import datetime
import mpl_scatter_density
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.basemap import Basemap

In [49]:
frankfurt_weather = pd.read_csv("frankfurt_weather.csv")

In [51]:
frankfurt_weather.head()

,Produkt_Code,SDO_ID,Zeitstempel,Wert,Qualitaet_Byte,Qualitaet_Niveau
0,TT_TU_MN009,Frankfurt,201902010000,-0.3,7,6
1,TT_TU_MN009,Frankfurt,201902010100,-0.1,7,6
2,TT_TU_MN009,Frankfurt,201902010200,-0.3,7,1
3,TT_TU_MN009,Frankfurt,201902010300,-0.3,7,1
4,TT_TU_MN009,Frankfurt,201902010400,0.0,7,1

## data cleaning:

In [50]:
# Change the city ID from CDC data to readable data
for ind, row in frankfurt_weather.iterrows():
    if frankfurt_weather.loc[ind, "SDO_ID"] == 1420:
        frankfurt_weather.loc[ind, "SDO_ID"] = "Frankfurt"
    elif frankfurt_weather.loc[ind, "SDO_ID"] == 1111:
        frankfurt_weather.loc[ind, "SDO_ID"] = "Berlin"
    else: 
        frankfurt_weather.loc[ind, "SDO_ID"] = ""

In [34]:
# Set timestamp         
for ind, row in frankfurt_weather.iterrows():
    frankfurt_weather.loc[ind, "Zeitstempel"] = pd.to_datetime(row['Zeitstempel'], format='%Y%m%d%H%M')

In [47]:
# Drop not necessary columns
cleaned_frankfurt_weather = frankfurt_weather.drop(["Qualitaet_Byte", "Qualitaet_Niveau", "Produkt_Code"], axis=1)

In [48]:
cleaned_frankfurt_weather.head()

      SDO_ID          Zeitstempel  Wert
0  Frankfurt  2019-02-01 00:00:00  -0.3
1  Frankfurt  2019-02-01 01:00:00  -0.1
2  Frankfurt  2019-02-01 02:00:00  -0.3
3  Frankfurt  2019-02-01 03:00:00  -0.3
4  Frankfurt  2019-02-01 04:00:00   0.0