In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import mpl_scatter_density
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.basemap import Basemap

In [2]:
frankfurt_weather = pd.read_csv("frankfurt_weather.csv")

In [13]:
frankfurt_weather.head()

,Produkt_Code,SDO_ID,Zeitstempel,Wert,Qualitaet_Byte,Qualitaet_Niveau,City
0,TT_TU_MN009,Frankfurt,201902010000,-0.3,7,6,Frankfurt
1,TT_TU_MN009,Frankfurt,201902010100,-0.1,7,6,Frankfurt
2,TT_TU_MN009,Frankfurt,201902010200,-0.3,7,1,Frankfurt
3,TT_TU_MN009,Frankfurt,201902010300,-0.3,7,1,Frankfurt
4,TT_TU_MN009,Frankfurt,201902010400,0.0,7,1,Frankfurt

In [12]:
frankfurt_weather.SDO_ID = "Frankfurt"

In [5]:
frankfurt_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Produkt_Code      3600 non-null   object
 1   SDO_ID            3600 non-null   int64
 2   Zeitstempel       3600 non-null   int64
 3   Wert              3600 non-null   float64
 4   Qualitaet_Byte    3600 non-null   int64
 5   Qualitaet_Niveau  3600 non-null   int64
 6   City              3600 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 197.0+ KB

In [6]:
frankfurt_weather.describe()

       SDO_ID   Zeitstempel         Wert  Qualitaet_Byte  Qualitaet_Niveau
count  3600.0  3.600000e+03  3600.000000          3600.0       3600.000000
mean   1420.0  2.019042e+11    11.781750             7.0          1.029444
std       0.0  1.405292e+06     7.522607             0.0          0.405190
min    1420.0  2.019020e+11    -4.000000             7.0          0.000000
25%    1420.0  2.019031e+11     6.500000             7.0          1.000000
50%    1420.0  2.019042e+11    10.850000             7.0          1.000000
75%    1420.0  2.019052e+11    16.300000             7.0          1.000000
max    1420.0  2.019063e+11    38.500000             7.0          6.000000

In [7]:
from datetime import date
import calendar
import datetime

In [8]:
frankfurt_weather.dtypes

Produkt_Code         object
SDO_ID                int64
Zeitstempel           int64
Wert                float64
Qualitaet_Byte        int64
Qualitaet_Niveau      int64
City                 object
dtype: object

In [15]:
import time
frankfurt_weather.Zeitstempel = time.strftime("%x %X")

In [16]:
frankfurt_weather.head(3)

,Produkt_Code,SDO_ID,Zeitstempel,Wert,Qualitaet_Byte,Qualitaet_Niveau,City
0,TT_TU_MN009,Frankfurt,12/15/20 01:02:19,-0.3,7,6,Frankfurt
1,TT_TU_MN009,Frankfurt,12/15/20 01:02:19,-0.1,7,6,Frankfurt
2,TT_TU_MN009,Frankfurt,12/15/20 01:02:19,-0.3,7,1,Frankfurt